<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#admin/user/list">Admin</a></li>
                <li><a href="#admin/menu">Menu관리</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="content-area-container col-xs-12">
            <div data-content-box-layer data-box-title="menuMngVO.boxTitle" >
                <div class="box-content-article">
                    <div class="article-header">
                        <div class="col-xs-6 article-header-box">
                            <button type="button" class="ae-btn" data-ng-click="menuMngVO.init()"><i class="fa fa-refresh"></i></button>
                            <button type="button" class="ae-btn" data-ng-click="menuMngVO.toggleAll(true)" data-ng-disabled="menuMngVO.hasShowData()">Expand All</button>
                            <button type="button" class="ae-btn" data-ng-click="menuMngVO.toggleAll(false)" data-ng-disabled="menuMngVO.hasShowData()">Collapse All</button>
                        </div>
                        <div class="col-xs-6 article-header-box ta-r">

                        </div>
                    </div>
                    <div class="article-view">
                        <div data-edt-tree="menuMngVO.options"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
