<div id="app-content" class="col-xs-12 col-sm-10">
	<div class="row">
		<div id="app-content-header">
			<ol class="breadcrumb">
				<li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
				<li><a href="">서비스관리</a></li>
				<li><a href="">수행</a></li>
				<li><a href="#04svRecResProc/list">접수결과처리</a></li>
			</ol>
		</div>
	</div>

	<!-- 접수정보 -->
	<div data-ng-include="'app/contents/SV/01svServRec/templates/svServRec.tpl.html'"></div>
	<!--// 접수정보 -->

	<!-- 계획정보 -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div data-content-box-layer data-box-title="vm.servPln.boxTitle" data-open="vm.servPln.open">
				<div class="box-content">
					<div data-ng-include="'app/contents/SV/02svServPln/templates/svServPln.tpl.html'"></div>
				</div>
			</div>
		</div>
	</div>
	<!--// 계획정보 -->

	<!-- 수행정보 -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div data-content-box-layer data-box-title="vm.servPfm.boxTitle" data-open="vm.servPfm.open">
				<div class="box-content">
					<table class="table table-bordered table-condensed">
						<colgroup>
							<col span="5" style="width:10%;" />
							<col span="2" style="width:8%;"/>
							<col />
							<col style="width: 120px;"/>
						</colgroup>
						<thead>
						<tr>
							<th class="ta-c">수행번호</th>
							<th class="ta-c">담당자명</th>
							<th class="ta-c">담당부서명</th>
							<th class="ta-c">수행시작일시</th>
							<th class="ta-c">수행종료일시</th>
							<th class="ta-c">소요시간</th>
							<th class="ta-c">수행상태</th>
							<th class="ta-c">처리</th>
							<th class="ta-c">Action</th>
						</tr>
						</thead>
						<tbody>
						<tr data-ng-repeat="pfm in vm.servPfm.PFM_LIST">
							<td>{{pfm.NO_SERV_PFM.value}}</td>
							<td>{{pfm.NM_INSERT.value}}</td>
							<td>{{pfm.NM_DEPT_INSERT.value}}</td>
							<td>{{pfm.DTS_PFM_STRT.value}}</td>
							<td>{{pfm.DTS_PFM_SOL.value}}</td>
							<td>{{pfm.DTS_TIME_REQ.value}}</td>
							<td>{{pfm.NM_PFM.value}}</td>
							<td class="ta-l">{{pfm.DC_PROC_TAG_DEL.value}}</td>
							<td>
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default" data-ng-click="vm.modalPfmDetail(pfm)">상세</button>
									<button data-ng-if="pfm.enableCancel()" type="button" class="btn btn-danger" data-ng-click="pfm.cancelPfm()">취소</button>
								</div>
							</td>
						</tr>
						<tr data-ng-if="vm.servPfm.PFM_LIST.length==0">
							<td colspan="9" class="ta-c">등록된 수행이 없습니다.</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--// 수행정보 -->


	<!-- 집계정보 -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div data-content-box-layer data-box-title="vm.recResProc.boxTitle" data-open="vm.recResProc.open">
				<div class="box-content">
					<div class="form-type1">
						<table>
							<colgroup>
								<col style="width: 10%" />
								<col style="width: 23%" />
								<col style="width: 10%" />
								<col style="width: 23%" />
								<col style="width: 10%" />
								<col style="width: 24%" />
							</colgroup>
							<tbody>
							<tr>
								<th>총 계획회수</th>
								<td>{{vm.recResProc.TOT_PLN_CNT.value}}</td>
								<th></th>
								<td></td>
								<th></th>
								<td></td>
							</tr>
							<tr>
								<th>총 수행횟수</th>
								<td>{{vm.recResProc.TOT_PFM_CNT.value}}</td>
								<th>수행율(%)</th>
								<td>{{vm.recResProc.PFM_RATE.value}}</td>
								<th></th>
								<td></td>
							</tr>
							<tr>
								<th>접수일시</th>
								<td>{{vm.recResProc.DTS_SERV.value}}</td>
								<th>처리완료<br />요청일시</th>
								<td>{{vm.recResProc.DTS_PROC_CPLT_REQ.value}}</td>
								<th></th>
								<td></td>
							</tr>
							<tr>
								<th>최초수행일시</th>
								<td>{{vm.recResProc.DTS_PFM_STRT.value}}</td>
								<th>최종수행일시</th>
								<td>{{vm.recResProc.DTS_PFM_SOL.value}}</td>
								<th></th>
								<td></td>
							</tr>
							<tr>
								<th><span class="form-required">* </span>최종 처리비고</th>
								<td colspan="5">
									<div class="textarea-wrapper">
										<text-angular  data-ng-if="vm.recResProc.isEnableWrite()" class="btn-group-small" ng-model="vm.recResProc.DC_FNT_PROC.value"></text-angular>
										<div data-ng-if="!vm.recResProc.isEnableWrite()" data-ng-bind-html="vm.recResProc.DC_FNT_PROC.value|unsafe"></div>
									</div>
								</td>
							</tr>
							<tr>
								<th>파일</th>
								<td colspan="5">
									<ui-file-view data-files="vm.recResProc.FINISH_FILE_LIST"></ui-file-view>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// 집계정보 -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div class="frm-crud-group">
				<button type="button" class="btn btn-default" title="취소" data-ng-click="vm.moveListPage()">리스트</button>
				<button data-ng-if="vm.recResProc.isEnableWrite()" type="button" class="btn btn-primary" title="접수최종처리" data-ng-click="vm.save()">접수최종처리</button>
			</div>
		</div>
	</div>
</div>
