<div id="app-content" class="col-xs-12 col-sm-10">
	<div class="row">
		<div id="app-content-header">
			<ol class="breadcrumb">
				<li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
				<li><a href="">서비스관리</a></li>
				<li><a href="">관리</a></li>
				<li><a href="#04svRecResProc">접수결과처리</a></li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="content-area-container col-xs-12">
			<div data-content-box-layer data-box-title="vm.searchObj.boxTitle">
				<div class="btn-group" role="group">
					<button type="button" data-ng-repeat="tab in vm.searchObj.code.searchTypeList" data-ng-class="{'active': tab.active}" data-ng-click="vm.searchObj.changeSearchBtn(tab)"
					        class="btn btn-default" title="{{tab.name}} 선택">{{tab.name}}
					</button>
				</div>
				<div id="basicSearch">
					<form class="search-type1">
						<table>
							<colgroup>
								<col style="width: 10%;">
								<col style="width: 23%;">
								<col style="width: 10%;">
								<col style="width: 23%;">
								<col style="width: 10%;">
								<col style="width: 24%;">
							</colgroup>

							<tbody>
							<tr>
								<th>상위부서</th>
								<td>
									<div class="radio-vertical">
										<select class="form-control" title="상위부서 선택" size="6"  data-ng-model="vm.searchObj.entity.KIND.value"
										        data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.seniorDeptCdList"
										        data-ng-change="vm.searchObj.changeSeniorDept()">
										</select>
									</div>
								</td>
								<th>하위부서/팀</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" title="하위부서 선택" size="6" multiple="multiple" data-ng-model="vm.searchObj.entity.DEPART.value"
											        data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.subDeptCdList"
											        data-ng-change="vm.searchObj.changeSubDept()">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="submit" class="btn btn-default" title="하위부서 선택 초기화" data-ng-click="vm.searchObj.initDepart()">초기화</button>
										</span>
									</div>
								</td>
								<th>접수자</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" title="유저종류 선택" data-ng-model="vm.searchObj.entity.CD_USER_TP.value">
												<option value="1">접수자</option>
												<option value="2">계획자</option>
												<option value="3">수행자</option>
											</select>
											<select class="form-control mt-5" title="유저 선택" size="5" multiple="multiple" data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.recrCdList" data-ng-model="vm.searchObj.entity.NO_USER.value">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="submit" class="btn btn-default" title="유저 선택 초기화" ng-click="vm.searchObj.initNoRecr()">초기화</button>
										</span>
									</div>
								</td>
							</tr>
							<tr data-ng-if="vm.searchObj.isDetail()">
								<th>접수번호</th>
								<td><input type="search" class="form-control" title="접수번호 입력" data-ng-model="vm.searchObj.entity.NO_SERV_REC.value" /></td>
								<th>계획번호</th>
								<td><input type="search" class="form-control" title="계획번호 입력" data-ng-model="vm.searchObj.entity.NO_SERV_PLN.value" /></td>
								<th>수행번호</th>
								<td><input type="search" class="form-control" title="수행번호 입력" data-ng-model="vm.searchObj.entity.NO_SERV_PFM.value" /></td>
							</tr>
							<tr data-ng-if="vm.searchObj.isDetail()">
								<th>관리고객사</th>
								<td>
									<div class="frm-input-group">
										<span class="frm-input-group-value">
											<input type="text" eden-type="kor" class="form-control" title="관리고객사명 입력" data-ng-model="vm.searchObj.entity.NM_MNG_CUST.value" disabled="disabled" />
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="관리고객사 검색 팝업" data-ng-click="vm.searchObj.modalCustCmp('MNG')">검색</button>
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="관리고객사 초기화" data-ng-click="vm.searchObj.initMngCust()">초기화</button>
										</span>
									</div>
								</td>
								<th>서비스고객사</th>
								<td>
									<div class="frm-input-group">
										<span class="frm-input-group-value">
											<input type="text" eden-type="kor" class="form-control" title="관리고객사명 입력" data-ng-model="vm.searchObj.entity.NM_SERV_CUST.value" disabled="disabled" />
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="서비스고객사 검색 팝업" data-ng-click="vm.searchObj.modalCustCmp('SERV')">검색</button>
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="서비스고객사 초기화" data-ng-click="vm.searchObj.initServCust()">초기화</button>
										</span>
									</div>
								</td>
								<th>요청자</th>
								<td>
									<input type="text" eden-type="kor" class="form-control" title="요청자 입력" data-ng-model="vm.searchObj.entity.NM_REQR.value">
								</td>
							</tr>
							<tr data-ng-if="vm.searchObj.isDetail()">
								<th>접수방법</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" title="접수방법 선택" size="4" multiple="multiple" data-ng-model="vm.searchObj.entity.CD_REC_WAY.value"
											        data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.recWayCdList">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="submit" class="btn btn-default" title="접수방법 선택 초기화" data-ng-click="vm.searchObj.initCdRecWay()">초기화</button>
										</span>
									</div>
								</td>
								<th>서비스유형</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" title="서비스유형 선택" size="4" multiple="multiple" data-ng-model="vm.searchObj.entity.CD_SERV_TP.value"
											        data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.servTpCdList">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="submit" class="btn btn-default" title="서비스유형 선택 초기화" data-ng-click="vm.searchObj.initCdServTp()">초기화</button>
										</span>
									</div>
								</td>
								<th>처리상태</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" title="처리상태 선택" size="4" multiple="multiple" data-ng-model="vm.searchObj.entity.CD_STAT_PROC.value"
											        data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.procStatCdList">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="submit" class="btn btn-default" title="처리상태 선택 초기화" data-ng-click="vm.searchObj.initCdStatProc()">초기화</button>
										</span>
									</div>
								</td>
							</tr>
							<tr data-ng-if="vm.searchObj.isDetail()">
								<th>장애심각도</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" title="장애심각도 선택" size="4" multiple="multiple" data-ng-model="vm.searchObj.entity.CD_OBS_SRON.value"
											        data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.obsSronCdList">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="submit" class="btn btn-default" title="장애심각도 선택 초기화" data-ng-click="vm.searchObj.initCdObsSron()">초기화</button>
										</span>
									</div>
								</td>
								<th>장애구분</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" title="장애구분 선택" size="4" multiple="multiple" data-ng-model="vm.searchObj.entity.CD_OBS_SEP.value"
											        data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.obsSepCdList">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="submit" class="btn btn-default" title="장애구분 선택 초기화" data-ng-click="vm.searchObj.initCdObsSep()">초기화</button>
										</span>
									</div>
								</td>
								<th>장비도입형태</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" title="장애도입형태 선택" size="4" multiple="multiple" data-ng-model="vm.searchObj.entity.CD_EQM_ITD_FRM.value"
											        data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.eqmItdFrmCdList">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="submit" class="btn btn-default" title="장애도입형태 선택 초기화" data-ng-click="vm.searchObj.initCdEqmItdFrm()">초기화</button>
										</span>
									</div>
								</td>
							</tr>
							<tr>
								<th>장비명</th>
								<td>
									<input type="text" eden-type="kor" class="form-control" title="장비명 입력" data-ng-model="vm.searchObj.entity.NM_EQM.value">
								</td>
								<th>장비모델</th>
								<td>
									<input type="text" eden-type="kor" class="form-control" title="장비모델 입력" data-ng-model="vm.searchObj.entity.NM_MODEL.value">
								</td>
								<th>S/N</th>
								<td>
									<input type="text" eden-type="kor" class="form-control" title="S/N 입력" data-ng-model="vm.searchObj.entity.DC_SRN.value">
								</td>
							</tr>
							<tr data-ng-if="vm.searchObj.isDetail()">
								<th>프로젝트명</th>
								<td colspan="3">
									<input type="text" eden-type="kor" class="form-control" title="프로젝트명 입력" data-ng-model="vm.searchObj.entity.NM_PJT.value">
								</td>
								<th></th>
								<td></td>
							</tr>
							<tr>
								<th>기간</th>
								<td colspan="5">
									<div class="frm-inline">
										<div class="frm-group">
											<select class="form-control" title="검색기간종류 선택" data-ng-options="code.CD as code.NAME for code in vm.searchObj.code.perTpCdList" data-ng-model="vm.searchObj.entity.TP_PER.value">
											</select>
										</div>
										<div class="frm-group" data-date-search-group="vm.searchObj.entity.DATE"></div>
									</div>
								</td>
							</tr>
							</tbody>
						</table>

						<div class="btn-group1 mt-20">
							<button type="submit" class="btn btn-primary" title="기본검색" data-ng-click="vm.searchObj.inquiry()">검색</button>
							<button type="button" class="btn btn-danger" title="기본검색 초기화" data-ng-click="vm.searchObj.initParam()">초기화</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div data-content-box-layer data-box-title="vm.gridObj.boxTitle">
				<div id="salesContent">
					<div class="box-content-article">
						<div class="article-header">
							<div class="col-xs-6 article-header-box">
								<div class="info">Total : <span class="total-count">{{vm.gridObj.grid.data.length}}</span> 건</div>
							</div>
							<div class="col-xs-6 article-header-box ta-r grid-export">
								<button type="button" class="ae-btn ae-download-btn" title="Excel다운로드" data-ng-click="vm.gridObj.downloadExcel()">
									<i class="fa fa-download"></i> Excel다운로드
								</button>
								<button type="button" class="ae-btn" title="Field설정" data-ng-click="vm.gridObj.setColumn()">
									<i class="fa fa-cog"></i> Column설정
								</button>
							</div>
						</div>

						<div data-ui-grid="vm.gridObj.grid" class="article-view grid" style="height: 400px;"
						     ui-grid-auto-resize ui-grid-resize-columns></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
