<div>
	<table class="table table-bordered table-condensed">
		<colgroup>
			<col style="width:60px;"/>
			<col span="3" style="width:13%;" />
			<col span="2" style="width: 10%;"/>
			<col />
			<col style="width: 80px;"/>
			<col style="width: 60px;"/>
		</colgroup>
		<thead>
		<tr>
			<th></th>
			<th class="ta-c">계획번호</th>
			<th class="ta-c"><span class="form-required">* </span>계획시작일시</th>
			<th class="ta-c"><span class="form-required">* </span>계획종료일시</th>
			<th class="ta-c"><span class="form-required">* </span>계획상태</th>
			<th class="ta-c">수행상태</th>
			<th class="ta-c">계획비고</th>
			<th class="ta-c">계획인원</th>
			<th class="ta-c">Action</th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat-start="pln in vm.servPln.PLN_LIST">
			<td class="ta-l"><i class="hover-cursor" data-ng-class="{'{{pln.icon.expanded}}': pln.expanded, '{{pln.icon.collapsed}}': !pln.expanded}" data-ng-click="pln.toggleExpand(pln)"></i></td>
			<td class="ta-c">{{pln.NO_SERV_PLN.value}}</td>
			<td class="ta-c">
				<div data-ng-if="pln.isEnableWrite()">
					<input type="text" id="{{pln.DTS_PLN_STRT.id+$index}}" class="form-control" jquery-datetimepicker title="계획시작일시 입력" data-ng-model="pln.DTS_PLN_STRT.value" data-option="pln.DTS_PLN_STRT.option" />
				</div>
				<div data-ng-if="!pln.isEnableWrite()">{{pln.DTS_PLN_STRT.value}}</div>
			</td>
			<td class="ta-c">
				<div data-ng-if="pln.isEnableWrite()">
					<input type="text" id="{{pln.DTS_PLN_END.id+$index}}"  class="form-control" jquery-datetimepicker title="계획종료일시 입력" data-ng-model="pln.DTS_PLN_END.value" data-option="pln.DTS_PLN_END.option" />
				</div>
				<div data-ng-if="!pln.isEnableWrite()">{{pln.DTS_PLN_END.value}}</div>
			</td>
			<td>
				<div data-ng-if="pln.isEnableWrite()">
					<select class="form-control" title="계획상태 선택" data-ng-options="code.CD as code.NAME for code in vm.code.plnStatCdList" data-ng-model="pln.CD_PLN.value"></select>
				</div>
				<div data-ng-if="!pln.isEnableWrite()">{{pln.NM_PLN.value}}</div>
			</td>
			<td>{{pln.NM_PFM.value}}</td>
			<td class="ta-c">
				<div data-ng-if="pln.isEnableWrite()"><input type="text" eden-type="kor" class="form-control" title="계획비고" data-ng-model="pln.DC_PLN.value" /></div>
				<div data-ng-if="!pln.isEnableWrite()" class="ta-l ellipsis" title="{{pln.DC_PLN.value}}">{{pln.DC_PLN.value}}</div>
			</td>
			<td>{{pln.PLNR_LIST.compositeData.length}} 명</td>
			<td class="ta-c">
				<button data-ng-if="vm.active.enablePlnRemoveBtn(pln)" type="button" class="btn btn-default" data-ng-click="vm.servPln.removePln($index)"><i class="fa fa-trash-o fa-lg"></i></button>
			</td>
		</tr>
		<tr data-ng-repeat-end class="detail" data-ng-show="pln.expanded">
			<td colspan="9" class="ta-l">
				<div class="hbox">
					<div data-ng-if="pln.isEnableWrite()" class="hbox-col va-m" style="width: 120px;">
						<button type="button" id="addPlnUserBtn{{$index}}" class="btn btn-default" title="수행자 검색 팝업" data-ng-click="pln.modalPlnUser()">계획인원등록</button>
					</div>
					<div class="hbox-col">
						<div data-ng-repeat="plnr in pln.PLNR_LIST.compositeData" class="tags">
							<span class="font-sm gray-light">{{plnr.NM_DEPT}}</span>
							<span class="font-w700">{{plnr.NM_EMP}}</span>
							<i data-ng-if="pln.isEnableWrite()" class="fa fa-times" data-ng-click="pln.removeUser(plnr, $index)"></i>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr data-ng-if="vm.servPln.PLN_LIST.length==0">
			<td colspan="9" class="ta-c">등록된 계획이 없습니다.</td>
		</tr>
		</tbody>
	</table>
</div>