<div id="app-content" class="col-xs-12 col-sm-10">
	<div class="row">
		<div id="app-content-header">
			<ol class="breadcrumb">
				<li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
				<li><a href="">사업분석</a></li>
				<li><a href="#bu/changeHist">변경이력</a></li>
			</ol>
		</div>
	</div>

	<!-- 검색 -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div data-content-box-layer data-box-title="vm.search.boxTitle">
				<form class="search-type1">
					<table>
						<colgroup>
							<col style="width: 10%;">
							<col style="width: 23%;">
							<col style="width: 10%;">
							<col style="width: 23%;">
							<col style="width: 10%;">
							<col style="width: 24%;">
						</colgroup>

						<tbody>
						<tr>
							<th>상위부서</th>
							<td>
								<div>
									<select class="form-control" title="상위부서 선택" size="5"  data-ng-model="vm.search.kind"
									        data-ng-options="code.CD as code.NAME for code in page.code.seniorCodeList" data-ng-change="vm.search.getDeptAndResp()">
									</select>
								</div>
							</td>
							<th>하위부서/팀</th>
							<td>
								<div class="frm-input-group frm-input-multi">
									<span class="frm-input-group-value">
										<select class="form-control" title="하위부서 선택" size="5" multiple="multiple" data-ng-model="vm.search.departList"
										        data-ng-options="code.CD as code.NAME for code in page.code.departCodeList" data-ng-change="vm.search.getSalesUser()">
										</select>
									</span>
									<span class="frm-input-group-btn">
										<button type="submit" class="btn btn-default" title="하위부서 선택 초기화" data-ng-click="vm.search.initDept()">초기화</button>
									</span>
								</div>
							</td>
							<th>영업대표</th>
							<td>
								<div class="frm-input-group frm-input-multi">
									<span class="frm-input-group-value">
										<select class="form-control" title="영업대표 선택" size="5" multiple="multiple" data-ng-model="vm.search.saleRepsList"
										        data-ng-options="code.CD as code.NAME for code in page.code.salesRepList">
										</select>
									</span>
									<span class="frm-input-group-btn">
										<button type="button" class="btn btn-default" title="영업대표선택 초기화" data-ng-click="vm.search.initResp()">초기화</button>
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>변경구간</th>
							<td colspan="5">
								<div class="form-inline">
									<div class="btn-group" role="group">
										<button data-ng-repeat="btn in vm.search.dtStandard.buttonList" type="button" class="btn btn-default" data-ng-class="{'active': btn.active}"
										        data-ng-click="vm.search.clickDtStandard(btn)">{{btn.value}}</button>
									</div>
									<div class="form-group">
										<label for="dtExpect">예상기준날짜(FD)</label>
										<input jquery-datetimepicker type="text" id="dtExpect" class="form-control" data-ng-model="vm.search.dtStandard.expect.value" data-option="vm.search.dtStandard.expect.option" data-ng-disabled="vm.search.dtStandard.selected != 'range'">
									</div>
									<div class="form-group">
										<label for="dtReality">실제결과날짜(AD)</label>
										<input jquery-datetimepicker type="text" id="dtReality" class="form-control" data-ng-model="vm.search.dtStandard.reality.value" data-option="vm.search.dtStandard.reality.option"  data-ng-disabled="vm.search.dtStandard.selected != 'range'">
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>매출기간</th>
							<td colspan="5">
								<div data-date-search-group="vm.search.dtPeriod"></div>
							</td>
						</tr>
						</tbody>
					</table>

					<div class="btn-group1 mt-20">
						<button type="submit" class="btn btn-primary" title="검색" data-ng-click="vm.search.inquiry()">검색</button>
						<button type="button" class="btn btn-danger" title="검색 초기화" data-ng-click="vm.search.init()">초기화</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--/ 검색 -->

	<!-- HISTORY -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div data-content-box-layer data-box-title="vm.hist.boxTitle">
				<h6 class="hpd-type6 hpd-type-first"><i class="fa fa-caret-right"></i>요약정보</h6>
				<div class="hpd-tbl hpd-info-tbl">
					<table class="table table-bordered table-condensed">
						<colgroup>
							<col span="1" style="width: 10%;" />
							<col span="4" style="width: 17%;" />
							<col span="1" style="width: 12%;" />
							<col span="1" style="width: 10%;" />
						</colgroup>
						<thead>
						<tr>
							<th>날짜</th>
							<th>Funnel 합계</th>
							<th>Forecast 합계</th>
							<th>Commit 합계</th>
							<th>매입 합계</th>
							<th>Margin 합계</th>
							<th>평균 Margin Rate</th>
						</tr>
						</thead>
						<tfoot>
						<tr>
							<th>{{vm.hist.summary.GAP_TYPE}}</th>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.GAP_FUNNEL < 0}">{{vm.hist.summary.GAP_FUNNEL | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.GAP_FORECAST < 0}">{{vm.hist.summary.GAP_FORECAST | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.GAP_COMMIT < 0}">{{vm.hist.summary.GAP_COMMIT | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.GAP_COST < 0}">{{vm.hist.summary.GAP_COST | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.GAP_MARGIN < 0}">{{vm.hist.summary.GAP_MARGIN  | number}}원</span></td>
							<td></td>
						</tr>
						</tfoot>
						<tbody>
						<tr>
							<th>{{vm.hist.summary.FD_TYPE}}</th>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.FD_FUNNEL < 0}">{{vm.hist.summary.FD_FUNNEL | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.FD_FORECAST < 0}">{{vm.hist.summary.FD_FORECAST | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.FD_COMMIT < 0}">{{vm.hist.summary.FD_COMMIT | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.FD_COST < 0}">{{vm.hist.summary.FD_COST | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.FD_MARGIN < 0}">{{vm.hist.summary.FD_MARGIN | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.FD_MARGIN_RATE < 0}">{{vm.hist.summary.FD_MARGIN_RATE}}</span></td>
						</tr>
						<tr>
							<th>{{vm.hist.summary.AD_TYPE}}</th>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.AD_COMMIT < 0}">{{vm.hist.summary.AD_FUNNEL | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.AD_COMMIT < 0}">{{vm.hist.summary.AD_FORECAST | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.AD_COMMIT < 0}">{{vm.hist.summary.AD_COMMIT | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.AD_COST < 0}">{{vm.hist.summary.AD_COST | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.AD_MARGIN < 0}">{{vm.hist.summary.AD_MARGIN | number}}원</span></td>
							<td class="hpd-fmt-price"><span data-ng-class="{'red': vm.hist.summary.AD_MARGIN_RATE < 0}">{{vm.hist.summary.AD_MARGIN_RATE}}</span></td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="box-content-article">
					<h6 class="hpd-type6"><i class="fa fa-caret-right"></i>변경이력</h6>
					<div class="row mb-5">
						<div class="col-xs-8">
							<label data-ng-repeat="field in vm.hist.items.filter.fields" class="checkbox-inline">
								<input type="checkbox" name="changeField" data-ng-model="field.checked" data-ng-change="vm.hist.toggleChangeField(field)">{{field.name}}
							</label>
						</div>
						<div class="col-xs-4 ta-r">
							<span>* FD: 예상기준날짜, AD: 실제결과날짜</span>
						</div>
					</div>
					<div class="article-header">
						<div class="col-xs-6 article-header-box">
							<div class="info">Total : <span class="total-count">{{vm.hist.items.total}}</span> 건</div>
						</div>
						<div class="col-xs-6 article-header-box ta-r grid-export">
							<button type="button" class="ae-btn ae-download-btn" title="Excel다운로드" data-ng-click="vm.hist.downloadExcel()">
								<i class="fa fa-download"></i> Excel다운로드
							</button>
							<button type="button" class="ae-btn" title="Field설정" data-ng-click="vm.hist.modalSetColumn()">
								<i class="fa fa-cog"></i> Column설정
							</button>
						</div>
					</div>

					<div data-ui-grid="vm.hist.items.grid" class="article-view grid" style="height: 400px;" ui-grid-auto-resize ui-grid-resize-columns></div>
				</div>

			</div>
		</div>
	</div>
	<!--/ HISTORY -->
</div>