<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#dashboard">Dashboard</a></li>
            </ol>
        </div>
    </div>
    <div class="row mt-10">
        <div  class="col-xs-4 col-xs-push-8 page-search absolute" >
            <div class="home-search-btn text-right">
                <button data-ng-if="page.isAccessAll() || page.isAccessManager() || page.isAccessTeam()" type="button" class="btn btn-default home-btn" title="나의하위부서 검색" data-ng-click="vm.search.findUser('TEAM')">TEAM</button>
                <button data-ng-if="page.isAccessAll() || page.isAccessManager() || page.isAccessTeam()" type="button" class="btn btn-default home-btn" title="나의정보 검색" data-ng-click="vm.search.findUser('MY')">MY</button>
                <form data-ng-if="page.isAccessAll() || page.isAccessManager() || page.isAccessTeam()" class="search-btn" style="display:inline-block;">
                    <input type="text" class="form-control" maxlength="20" title="유저이름 입력" data-ng-model="vm.search.name" data-ng-click="vm.search.selectText($event)">
                    <button type="submit" class="btn btn-primary" title="유저검색" data-ng-click="vm.search.findUser()">사원검색</button>
                </form>
                <div class="btn-group" role="group" aria-label="로걸스토리지 설정">
                    <button type="button" class="btn btn-default" data-ng-click="vm.removeDashboardSetting()">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-default" title="dashboard list 설정" data-ng-click="vm.openDashboardSetting()">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div>
                <ul class="nav nav-tabs page-tabs">
                    <li data-ng-repeat="tab in vm.tab.tabs" data-ng-class="{'active': tab.active}">
                        <a href="#" data-ng-click="vm.tab.changeTab($event, tab)">{{tab.name}}</a>
                    </li>
                </ul>
            </div>
            <div data-ng-repeat="component in vm.components | filter:{visible:true} | orderBy:'order'">
                <div class="row mt-10">
                    <div class="col-xs-12">
                        <div data-content-box-layer data-box-title="component.displayName">
                            <div data-ng-include="component.templateURL"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
