<div data-ng-controller="CoManagedSalesPrscCtrl">
      <!-- CHART -->
      <div data-ng-show="managed.tabName == 'CHART'" class="jui-chart">
          <form class="box-content-search">
              <div data-inline-period-search data-ng-model="managed.chart.search.period" data-change="managed.find()" data-is-execute="false"></div>
          </form>
          <div class="row jui-chart-row">
              <div class="chart col-xs-7" jui-chart="complex" data-jui-config="managed.chart.first.config"></div>
              <div class="chart col-xs-5" jui-chart="complex" data-jui-config="managed.chart.second.config"></div>
          </div>
      </div>

      <!-- TABLE -->
      <div data-ng-show="managed.tabName == 'TABLE'">
          <form class="box-content-search">
              <div data-inline-period-search data-ng-model="managed.table.search.period" data-change="managed.find()" data-is-execute="false"></div>
          </form>
          <div class="tbl-type1">
              <table>
                  <thead>
                  <tr>
                      <th scope="col"><span>부서</span></th>
                      <th scope="col">목표매출</th>
                      <th scope="col">Funnel</th>
                      <th scope="col">Forecast</th>
                      <th scope="col">Forecast 달성률</th>
                      <th scope="col">Commit</th>
                      <th scope="col">Commit 달성률</th>
                      <th scope="col">목표마진</th>
                      <th scope="col">Margin</th>
                      <th scope="col">Margin Rate</th>
                      <th class="last" scope="col">Margin 달성률</th>
                  </tr>
                  </thead>
                  <tfoot data-ng-if="managed.auth.manager">
                  <tr>
                      <th scope="row">전체</th>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': managed.table.total.targetRevenue<0}">{{managed.table.total.targetRevenue | number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': managed.table.total.funnel<0}">{{managed.table.total.funnel | number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': managed.table.total.forecast<0}">{{managed.table.total.forecast | number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': managed.table.total.forecastAchieve<0}">{{managed.table.total.forecastAchieve | mathFloor:'%'}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': managed.table.total.commit<0}">{{managed.table.total.commit | number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': managed.table.total.commitAchieve<0}">{{managed.table.total.commitAchieve | mathFloor:'%'}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': managed.table.total.targetMargin<0}">{{managed.table.total.targetMargin | number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': managed.table.total.margin<0}">{{managed.table.total.margin | number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': managed.table.total.marginRate<0}">{{managed.table.total.marginRate | mathFloor:'%'}}</span></td>
                      <td class="ta-r pr-5 last"><span data-ng-class="{'red': managed.table.total.marginAchieve<0}">{{managed.table.total.marginAchieve | mathFloor:'%'}}</span></td>
                  </tr>
                  </tfoot>
                  <tbody>
                  <tr data-ng-if="managed.table.data.length > 0" data-ng-repeat="data in managed.table.data">
                      <th scope="row"><span>{{data.DEPT_NAME}}</span></th>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': data.TARGET_REVENUE<0}">{{data.TARGET_REVENUE|number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': data.FUNNEL<0}">{{data.FUNNEL|number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': data.FORECAST<0}">{{data.FORECAST|number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': data.FORECAST_ACHIEVE<0}">{{data.FORECAST_ACHIEVE | mathFloor:'%'}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': data.COMMIT<0}">{{data.COMMIT|number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': data.COMMIT_ACHIEVE<0}">{{data.COMMIT_ACHIEVE | mathFloor:'%'}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': data.TARGET_MARGIN<0}">{{data.TARGET_MARGIN|number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': data.MARGIN<0}">{{data.MARGIN|number}}</span></td>
                      <td class="ta-r pr-5"><span data-ng-class="{'red': data.MARGIN_RATE<0}">{{data.MARGIN_RATE | mathFloor:'%'}}</span></td>
                      <td class="ta-r pr-5 last"><span data-ng-class="{'red': data.MARGIN_ACHIEVE<0}">{{data.MARGIN_ACHIEVE | mathFloor:'%'}}</span></td>
                  </tr>
                  <tr data-ng-if="managed.table.data.length == 0">
                      <td colspan="11" class="last"><span class="tbl-message">검색된 정보가 없습니다.</span></td>
                  </tr>
                  </tbody>
              </table>
          </div>
    </div>
</div>
