<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#analysis/result">사업분석</a></li>
                <li><a href="#analysis/meeting/list">월별회의록</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>회의록 등록</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-sub-content">
                        <div class="form-type1">
                            <table>
                                <colgroup>
                                    <col style="width: 12%" />
                                    <col style="width: 38%" />
                                    <col style="width: 12%" />
                                    <col style="width: 38%" />
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th><span class="form-required">* </span>회의일시</th>
                                    <td colspan="3">
                                        <input type="text" id="meetingDate" class="form-control wid-x3" data-jquery-datetimepicker title="회의일시 입력" placeholder="'2015-02-03 19:00'형식으로 입력해주세요." data-ng-model="meetingVO.meetingDate" />
                                    </td>
                                </tr>
                                <tr>
                                    <th><span class="form-required">* </span>회의주제</th>
                                    <td colspan="3">
                                        <input type="text" id="meetingTitle" class="form-control wid-x8" title="회의주제 입력" data-ng-model="meetingVO.meetingTitle" />
                                    </td>
                                </tr>
                                <tr>
                                    <th><span class="form-required">* </span>회의내용</th>
                                    <td colspan="3">
                                        <div class="textarea-wrapper">
                                            <textarea id="meetingContents" rows="16" title="회의내용 입력" data-ng-model="meetingVO.meetingContents">

                                            </textarea>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- File START -->
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>파일정보</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="file-upload">
                        <div class="file-ins-input">
                            <input type="file" nv-file-select uploader="fileVO.uploader">
                        </div>
                        <div data-ng-if="view.kind=='update' || view.kind=='detail'" class="col-xs-6 col-sm-6 mt-20">
                            <div>
                                <div>
                                    <h4 class="file-upload-subtitle"><i class="fa fa-toggle-right fa-lg"></i> 등록된 Files</h4>
                                    <table class="table mt-20">
                                        <colgroup>
                                            <col style="width: 45%;">
                                            <col style="width: 15%;">
                                            <col style="width: 25%;">
                                            <col style="width: 15%;">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Size(Byte)</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="fileInfo in fileVO.currentFileList">
                                            <td><a href="{{fileVO.url}}?file_cd={{fileInfo.UNIQ_CD}}&meeting_cd={{view.ids}}" download="{{fileInfo.FILE_NAME}}">{{fileInfo.FILE_NAME}}</a></td>
                                            <td>{{fileInfo.FILE_SIZE | number}}</td>
                                            <td>{{fileInfo.UPDATE_DT}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-xs" data-ng-click="fileVO.addDeleteFileList($index)">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                        <tr data-ng-if="fileVO.currentFileList.length==0">
                                            <td colspan="5"><span class="tbl-message">등록된 파일이 없습니다.</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div data-ng-class="{'col-xs-12': view.kind=='insert'}" class="col-xs-6 col-sm-6 mt-20">
                            <div>
                                <h4 class="file-upload-subtitle"><i class="fa fa-toggle-right fa-lg"></i> 추가된 Files</h4>
                                <table class="table mt-20">
                                    <colgroup>
                                        <col style="width: 45%;">
                                        <col style="width: 15%;">
                                        <col style="width: 25%;">
                                        <col style="width: 15%;">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Size(Byte)</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="item in fileVO.uploader.queue">
                                        <td>{{item.file.name}}</td>
                                        <td>{{item.file.size|number}}</td>
                                        <td></td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span> Remove
                                            </button>
                                        </td>
                                    </tr>
                                    <tr data-ng-if="fileVO.uploader.queue.length==0">
                                        <td colspan="5"><span class="tbl-message">추가된 파일이 없습니다.</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ File END -->
            </div>
            <div class="btn-group1">
                <button data-ng-if="view.kind=='insert'" type="button" class="btn btn-primary" title="사업등록" data-ng-click="meetingVO.doInsert()">등록</button>
                <button data-ng-if="view.kind!='insert'" type="button" class="btn btn-primary" title="사업수정" data-ng-click="meetingVO.doUpdate()">수정</button>
                <button type="button" class="btn btn-danger" title="취소" data-ng-click="meetingVO.doCancel()">취소</button>
            </div>
        </div>
    </div>