<div data-ng-if="!webApp.isLogin" id="login-page" class="col-xs-4 col-xs-offset-4" style="margin-top: 15%;">
	<div class="box">
		<div class="box-content">
			<form name="loginForm" style="padding: 10px;">
				<div class="ta-c">
					<h3 class="page-header">SLM Login</h3>
				</div>
				<div class="form-group" style="height: auto; line-height: normal;">
					<label class="control-label" style="padding:5px;">User Id</label>
					<div>
						<input type="text" class="form-control" title="ID입력" placeholder="ID를 입력해주세요." data-ng-model="loginVO.info.user" required>
					</div>
				</div>
				<div class="form-group" style="height: auto; line-height: normal;">
					<label class="control-label" style="padding:5px;">Password</label>
					<div>
						<input type="password" class="form-control" title="PW입력" placeholder="PASSWORD를 입력해주세요." data-ng-model="loginVO.info.password" required>
					</div>
				</div>
				<div class="form-group register-id">
					<input type="checkbox" id="registerId" title="로그인ID 저장" data-ng-model="loginVO.isRegisterId"><label for="registerId">ID를 기억하시겠습니까?</label>
				</div>
				<div class="ta-c">
					<button type="submit" class="btn btn-primary" title="Sign in" data-ng-click="loginVO.doLogin()" data-ng-disabled="loginForm.$invalid">Sign in</button>
				</div>
			</form>
		</div>
	</div>
	<address id="login-address">
		<p>Copyright 2015. EDEN T&S, Inc. All rights reserved. <span>{{loginVO.version}}</span></p>
	</address>
</div>