<div id="app-content" class="col-xs-12 col-sm-10">
	<div class="row">
		<div id="app-content-header">
			<ol class="breadcrumb">
				<li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
				<li><a href="">서비스관리</a></li>
				<li><a href="">수행</a></li>
				<li><a href="#01svServPfm/list">수행결과보고</a></li>
			</ol>
		</div>
	</div>
	<div data-ng-include="'app/contents/SV/01svServRec/templates/svServRec.tpl.html'"></div>
	<div data-ng-if="vm.hasServPlan()" data-ng-include="'app/contents/SV/03svServPfm/templates/svServPfm.tpl.html'"></div>

	<div class="row">
		<div class="content-area-container col-xs-12">
			<div class="frm-crud-group">
				<button type="button" class="btn btn-default" title="취소" data-ng-click="vm.moveListPage()">리스트</button>
				<button data-ng-if="vm.servPfm.isEnableWrite()" type="button" class="btn btn-primary" title="수행등록"
				        data-ng-click="vm.doRest(vm.servPfm.CHECK_METHOD.value)">수행중</button>
				<button data-ng-if="vm.servPfm.isEnableWrite()" type="button" class="btn btn-primary" title="수행완료"
				        data-ng-click="vm.doRest('FINISH'+vm.servPfm.CHECK_METHOD.value)">수행완료</button>
			</div>
		</div>
	</div>
</div>