<div class="row">
	<div class="content-area-container col-xs-12">
		<div data-content-box-layer data-box-title="vm.servPfm.boxTitle" data-open="vm.servPfm.">
			<div class="box-content">
				<div class="box-sub-content">
					<div class="form-type1">
						<table>
							<colgroup>
								<col style="width: 8%" />
								<col style="width: 17%" />
								<col style="width: 8%" />
								<col style="width: 17%" />
								<col style="width: 8%" />
								<col style="width: 17%" />
								<col style="width: 8%" />
								<col style="width: 17%" />
							</colgroup>
							<tbody>
							<tr>
								<th>수행번호</th>
								<td>{{vm.servPfm.NO_SERV_PFM.value}}</td>
								<th>계획번호</th>
								<td>{{vm.servPfm.NO_SERV_PLN.value}}</td>
								<th>계획시작<br/>일시</th>
								<td>{{vm.servPfm.DTS_PLN_STRT.value}}</td>
								<th>계획종료<br/>일시</th>
								<td>{{vm.servPfm.DTS_PLN_END.value}}</td>
							</tr>
							<tr>
								<th><span class="form-required">* </span>출발일시</th>
								<td>
									<div data-ng-if="vm.servPfm.isEnableWrite()">
										<input type="text" class="form-control" jquery-datetimepicker title="계획시작일시 입력"
										       data-ng-model="vm.servPfm.DTS_PFM_STRT.value"
										       data-option="vm.servPfm.DTS_PFM_STRT.option" />
									</div>
									<div data-ng-if="!vm.servPfm.isEnableWrite()">{{vm.servPfm.DTS_PFM_STRT.value}}</div>
								</td>
								<th><span class="form-required">* </span>도착일시</th>
								<td>
									<div data-ng-if="vm.servPfm.isEnableWrite()">
										<input type="text" class="form-control" jquery-datetimepicker title="계획시작일시 입력"
										       data-ng-model="vm.servPfm.DTS_PFM_ARV.value" data-option="vm.servPfm.DTS_PFM_ARV.option" />
									</div>
									<div data-ng-if="!vm.servPfm.isEnableWrite()">{{vm.servPfm.DTS_PFM_ARV.value}}</div>
								</td>
								<th><span class="form-required">* </span>확인일시</th>
								<td>
									<div data-ng-if="vm.servPfm.isEnableWrite()">
										<input type="text" class="form-control" jquery-datetimepicker title="계획시작일시 입력"
									           data-ng-model="vm.servPfm.DTS_PFM_CFM.value" data-option="vm.servPfm.DTS_PFM_CFM.option" />
									</div>
									<div data-ng-if="!vm.servPfm.isEnableWrite()">{{vm.servPfm.DTS_PFM_CFM.value}}</div>
								</td>
								<th><span class="form-required">* </span>해결(종료)<br/>일시</th>
								<td>
									<div data-ng-if="vm.servPfm.isEnableWrite()">
										<input type="text" class="form-control" jquery-datetimepicker title="계획시작일시 입력"
										       data-ng-model="vm.servPfm.DTS_PFM_SOL.value" data-option="vm.servPfm.DTS_PFM_SOL.option" />
									</div>
									<div data-ng-if="!vm.servPfm.isEnableWrite()">{{vm.servPfm.DTS_PFM_SOL.value}}</div>
								</td>
							</tr>
							<tr>
								<th><span class="form-required">* </span>처리 후 <br/>보고방식</th>
								<td>
									<div data-ng-if="vm.servPfm.isEnableWrite()">
										<select id="cdProcAftRptWay" class="form-control" title="접수방법 선택"
												data-ng-options="code.CD as code.NAME for code in vm.code.procAftRptWayList"
										        data-ng-model="vm.servPfm.CD_PROC_AFT_RPT_WAY.value" data-ng-change="vm.servPfm.changeProcAftRptWay(vm.code.procAftRptWayList)"></select>
									</div>
									<div data-ng-if="!vm.servPfm.isEnableWrite()">{{vm.servPfm.NM_PROC_AFT_RPT_WAY.value}}</div>
								</td>
								<th><span class="form-required">* </span>수행인원</th>
								<td colspan="5">
									<div class="hbox">
										<div data-ng-if="vm.servPfm.isEnableWrite()" class="hbox-col va-m"
										     style="width: 70px;">
											<button type="button" id="servPfmEmpModalBtn" class="btn btn-primary"
											        data-ng-click="vm.servPfm.modalEmp()"><i class="fa fa-plus fa-lg"></i> 추가</button>
										</div>
										<div class="hbox-col" >
											<div data-ng-repeat="pfmr in vm.servPfm.PFMR_LIST.compositeData"
											     class="tags" style="margin-right: 3px;">
												<span class="font-sm gray-light">{{pfmr.NM_DEPT}}</span>
												<span class="font-w700">{{pfmr.NM_EMP}}</span>
												<i data-ng-if="vm.servPfm.isEnableWrite()" class="fa fa-times" data-ng-click="vm.servPfm.removeUser(pfmr, $index)"></i>
											</div>
										</div>

									</div>

								</td>
							</tr>
							<tr>
								<th>증상</th>
								<td colspan=7>
									<div class="textarea-wrapper">
										<text-angular  data-ng-if="vm.servPfm.isEnableWrite()" class="btn-group-small" ng-model="vm.servPfm.DC_STAT.value"></text-angular>
										<div data-ng-if="!vm.servPfm.isEnableWrite()" data-ng-bind-html="vm.servPfm.DC_STAT.value|unsafe"></div>
									</div>
								</td>
							</tr>
							<tr>
								<th>원인</th>
								<td colspan=7>
									<div class="textarea-wrapper">
										<text-angular  data-ng-if="vm.servPfm.isEnableWrite()" class="btn-group-small" ng-model="vm.servPfm.DC_CUS.value"></text-angular>
										<div data-ng-if="!vm.servPfm.isEnableWrite()" data-ng-bind-html="vm.servPfm.DC_CUS.value|unsafe"></div>
									</div>
								</td>
							</tr>
							<tr>
								<th>조치</th>
								<td colspan=7>
									<div class="textarea-wrapper">
										<text-angular  data-ng-if="vm.servPfm.isEnableWrite()" class="btn-group-small" ng-model="vm.servPfm.DC_PROC.value"></text-angular>
										<div data-ng-if="!vm.servPfm.isEnableWrite()" data-ng-bind-html="vm.servPfm.DC_PROC.value|unsafe"></div>
									</div>
								</td>
							</tr>
							<tr>
								<th>대책</th>
								<td colspan=7>
									<div class="textarea-wrapper">
										<text-angular  data-ng-if="vm.servPfm.isEnableWrite()" class="btn-group-small" ng-model="vm.servPfm.DC_CTM.value"></text-angular>
										<div data-ng-if="!vm.servPfm.isEnableWrite()" data-ng-bind-html="vm.servPfm.DC_CTM.value|unsafe"></div>
									</div>
								</td>
							</tr>
							<tr>
								<th>HPRC<br>CASE#1</th>
								<td>
									<div data-ng-if="vm.servPfm.isEnableWrite()">
										<input type="text" class="form-control" id="dcHprcCase1" title="HPRC CASE#1 입력" maxlength="20" data-ng-model="vm.servPfm.DC_HPRC_CASE_1.value">
									</div>
									<div data-ng-if="!vm.servPfm.isEnableWrite()">{{vm.servPfm.DC_HPRC_CASE_1.value}}</div>
								</td>
								<th>HPRC<br>CASE#2</th>
								<td>
									<div data-ng-if="vm.servPfm.isEnableWrite()">
										<input type="text" class="form-control" id="dcHprcCase2" title="HPRC CASE#2 입력" maxlength="20" data-ng-model="vm.servPfm.DC_HPRC_CASE_2.value">
									</div>
									<div data-ng-if="!vm.servPfm.isEnableWrite()">{{vm.servPfm.DC_HPRC_CASE_2.value}}</div>
								</td>
								<th>HPRC<br>CASE#3</th>
								<td>
									<div data-ng-if="vm.servPfm.isEnableWrite()">
										<input type="text" class="form-control" id="dcHprcCase3" title="HPRC CASE#3 입력" data-ng-model="vm.servPfm.DC_HPRC_CASE_3.value">
									</div>
									<div data-ng-if="!vm.servPfm.isEnableWrite()">{{vm.servPfm.DC_HPRC_CASE_3.value}}</div>
								</td>
								<th></th>
								<td></td>
							</tr>
							<tr>
								<th>파일정보</th>
								<td colspan="7">
									<ui-file-view data-files="vm.servPfm.PFM_FILE_LIST"></ui-file-view>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>