<div class="row">
	<div class="content-area-container col-xs-12">
		<div data-content-box-layer data-box-title="vm.servRec.boxTitle" data-open="vm.servRec.open">
			<div class="box-content">
				<div class="box-sub-content">
					<div class="form-type1">
						<table>
							<colgroup>
								<col style="width: 8%" />
								<col style="width: 17%" />
								<col style="width: 8%" />
								<col style="width: 17%" />
								<col style="width: 8%" />
								<col style="width: 17%" />
								<col style="width: 8%" />
								<col style="width: 17%" />
							</colgroup>
							<tbody>
							<tr>
								<th>접수번호</th>
								<td>{{vm.servRec.NO_SERV_REC.value}}</td>
								<th><span class="form-required">* </span>관리고객사</th>
								<td>
									<div data-ng-if="vm.servRec.isEnableWrite()" class="frm-input-group">
										<div>
											<span class="frm-input-group-value">
												<input type="text" id="noMngCust" class="form-control" title="관리고객사" disabled="disabled" data-ng-model="vm.servRec.NM_MNG_CUST.value">
											</span>
											<span class="frm-input-group-btn">
												<button type="button" class="btn btn-default" title="관리고객사 검색 팝업열림" data-ng-click="vm.servRec.modalCustCmp('MNG')">검색</button>
											</span>
										</div>
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_MNG_CUST.value}}</div>
								</td>
								<th>영업대표</th>
								<td><span class="font-sm">{{vm.servRec.CUST_NM_DEPT_EMP.value}}</span> <span class="font-w700">{{vm.servRec.CUST_NM_EMP.value}}</span></td>
								<th>처리상태</th>
								<td>{{vm.servRec.NM_STAT_PROC.value}}</td>
							</tr>
							<tr>
								<th><span class="form-required">* </span>서비스<br />고객사</th>
								<td>
									<div data-ng-if="vm.servRec.isEnableWrite()" class="frm-input-group">
										<span class="frm-input-group-value">
											<input type="text" class="form-control" title="서비스고객사" disabled="disabled" data-ng-model="vm.servRec.NM_SERV_CUST.value">
										</span>
										<span class="frm-input-group-btn">
											<button type="button" id="noServCust" class="btn btn-default" title="서비스고객사 검색 팝업열림" data-ng-click="vm.servRec.modalCustCmp('SERV')">검색</button>
										</span>
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_SERV_CUST.value}}</div>
								</td>
								<th><span class="form-required">* </span>서비스<br />담당자</th>
								<td>
									<div data-ng-if="vm.servRec.isEnableWrite()" class="frm-input-group">
										<span class="frm-input-group-value">
											<input type="text" class="form-control" title="서비스담당자" disabled="disabled" data-ng-model="vm.servRec.NM_IN_CHARGE.value">
										</span>
										<span class="frm-input-group-btn">
											<button type="button" id="noInCharge" class="btn btn-default" title="서비스담당자 검색 팝업열림" data-ng-click="vm.servRec.modalCustCharge()">검색</button>
										</span>
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_IN_CHARGE.value}}</div>
								</td>
								<th>연락처</th>
								<td>{{vm.servRec.CHARGE_NO_MOBILE.value}}</td>
								<th>이메일</th>
								<td>{{vm.servRec.CHARGE_NO_EMAIL.value}}</td>
							</tr>
							<tr>
								<th><span class="form-required">* </span>요청자</th>
								<td colspan="3">
									<div data-ng-if="vm.servRec.isEnableWrite()"><input type="text" eden-type="kor" id="nmReqr" class="form-control" title="요청자 입력" placeholder="{{vm.servRec.NM_REQR.placeholder}}" maxlength="{{vm.servRec.NM_REQR.maxlength}}" data-ng-model="vm.servRec.NM_REQR.value"></div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_REQR.value}}</div>
								</td>
								<th>접수자</th>
								<td><span class="font-sm">{{vm.servRec.NM_DEPT_RECR.value}}</span> <span class="font-w700">{{vm.servRec.NM_RECR.value}}</span></td>
								<th>접수자<br />내선번호</th>
								<td>{{vm.servRec.RECR_NO_PHONE_IN.value}}</td>
							</tr>
							<tr>
								<th><span class="form-required">* </span>접수방법</th>
								<td>
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<select id="cdRecWay" class="form-control" title="접수방법 선택" data-ng-options="code.CD as code.NAME for code in vm.code.recWayCdList"
										        data-ng-model="vm.servRec.CD_REC_WAY.value" data-ng-change="vm.servRec.changeRecWay(vm.code.recWayCdList)"></select>
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_REC_WAY.value}}</div>
								</td>
								<th><span class="form-required">* </span>서비스유형</th>
								<td>
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<select id="cdServTp" class="form-control" title="서비스유형 선택" data-ng-options="code.CD as code.NAME for code in vm.code.servTpCdList"
										        data-ng-model="vm.servRec.CD_SERV_TP.value" data-ng-change="vm.servRec.changeServTp(vm.code.servTpCdList)"></select>
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_SERV_TP.value}}</div>
								</td>
								<th><span class="form-required">* </span>접수일시</th>
								<td>
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<input type="text" id="dtsServ" class="form-control" jquery-datetimepicker title="접수일시 입력" data-ng-model="vm.servRec.DTS_SERV.value" data-option="vm.servRec.DTS_SERV.option" />
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.DTS_SERV.value}}</div>
								</td>
								<th>처리완료<br/>요청일시</th>
								<td>
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<input type="text" id="dtsProcCpltReq" class="form-control" jquery-datetimepicker title="처리완료요청일시 입력" data-ng-model="vm.servRec.DTS_PROC_CPLT_REQ.value" data-option="vm.servRec.DTS_PROC_CPLT_REQ.option" />
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.DTS_PROC_CPLT_REQ.value}}</div>
								</td>
							</tr>
							<tr>
								<th><span class="form-required">* </span>접수내용</th>
								<td colspan=7>
									<div class="textarea-wrapper">
										<text-angular  data-ng-if="vm.servRec.isEnableWrite()" class="btn-group-small" ng-model="vm.servRec.DC_REC.value"></text-angular>
										<div data-ng-if="!vm.servRec.isEnableWrite()" data-ng-bind-html="vm.servRec.DC_REC.value|unsafe"></div>
									</div>
								</td>
							</tr>
							<tr data-ng-if="vm.servRec.isStatProcCancel()">
								<th><span class="form-required">* </span>접수취소내용</th>
								<td colspan=7>
									<div class="textarea-wrapper">
										<text-angular  data-ng-if="vm.servRec.isEnableWrite()" class="btn-group-small" ng-model="vm.servRec.DC_REC_CCL.value"></text-angular>
										<div data-ng-if="!vm.servRec.isEnableWrite()" data-ng-bind-html="vm.servRec.DC_REC_CCL.value|unsafe"></div>
									</div>
								</td>
							</tr>
							<tr data-ng-if="vm.servRec.isStatProcCompleted()">
								<th><span class="form-required">* </span>접수완료내용</th>
								<td colspan=7>
									<div class="textarea-wrapper">
										<text-angular  data-ng-if="vm.servRec.isEnableWrite()" class="btn-group-small" ng-model="vm.servRec.DC_FNT_PROC.value"></text-angular>
										<div data-ng-if="!vm.servRec.isEnableWrite()" data-ng-bind-html="vm.servRec.DC_FNT_PROC.value|unsafe"></div>
									</div>
								</td>
							</tr>

							<!-- 서비스유형:2(설치) -->
							<tr data-ng-show="vm.servRec.isServTpInstall()">
								<th><span class="form-required">* </span>설치장소</th>
								<td colspan="7">
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<input type="text" eden-type="kor" id="dcInsPla" class="form-control" title="설치장소 입력" data-ng-model="vm.servRec.DC_INS_PLA.value" maxlengt="{{vm.servRec.DC_INS_PLA.maxlength}}"/></div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.DC_INS_PLA.value}}</div>
								</td>
							</tr>
							<tr data-ng-show="vm.servRec.isServTpInstall()">
								<th><span class="form-required">* </span>장비도입형태</th>
								<td>
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<select id="cdEqmItdFrm" class="form-control" title="장비도입형태 선택" data-ng-options="code.CD as code.NAME for code in vm.code.eqmItdFrmCdList" data-ng-model="vm.servRec.CD_EQM_ITD_FRM.value"></select></div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_EQM_ITD_FRM.value}}</div>
								</td>
								<td colspan="6"></td>
							</tr>
							<!--/ 서비스유형:2(설치) -->

							<!-- 서비스유형:3(프로젝트) -->
							<tr data-ng-show="vm.servRec.isServTpProject()">
								<th><span class="form-required">* </span>프로젝트명</th>
								<td colspan="7">
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<input type="text" eden-type="kor" id="nmPjt" class="form-control" title="프로젝트명 입력" data-ng-model="vm.servRec.NM_PJT.value" maxlength="{{vm.servRec.NM_PJT.maxlength}}" /></div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_PJT.value}}</div>
								</td>
							</tr>
							<tr data-ng-show="vm.servRec.isServTpProject()">
								<th><span class="form-required">* </span>프로젝트 목적</th>
								<td colspan="7">
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<input type="text" eden-type="kor" id="dcPjtPpo" class="form-control" title="프로젝트 목적 입력" data-ng-model="vm.servRec.DC_PJT_PPO.value" maxlength="{{vm.servRec.DC_PJT_PPO.maxlength}}" /></div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.DC_PJT_PPO.value}}</div>
								</td>
							</tr>
							<tr data-ng-show="vm.servRec.isServTpProject()">
								<th><span class="form-required">* </span>프로젝트<br/>수행기간</th>
								<td colspan="3">
									<div data-ng-if="vm.servRec.isEnableWrite()" class="frm-inline">
										<input type="text" id="dtPjtPfmStrt" class="form-control" title="프로젝트 수행시간 시작 입력" jquery-datetimepicker data-ng-model="vm.servRec.DT_PJT_PFM_STRT.value" data-option="vm.servRec.DT_PJT_PFM_STRT.option" />
										&nbsp;&nbsp;~&nbsp;&nbsp;
										<input type="text" id="dtPjtPfmEnd" class="form-control" title="프로젝트 수행기간 종료 입력" jquery-datetimepicker data-ng-model="vm.servRec.DT_PJT_PFM_END.value" data-option="vm.servRec.DT_PJT_PFM_END.option" />
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.DT_PJT_PFM_STRT.value}}&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;{{vm.servRec.DT_PJT_PFM_END.value}}</div>
								</td>
								<td colspan="4"></td>
							</tr>
							<!--/ 서비스유형:3(프로젝트) -->

							<!-- 서비스유형:1(장비) -->
							<tr>
								<th>장애심각도</th>
								<td colspan="5">
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<select id="cdObsSron" class="form-control" title="장애심각도 선택" data-ng-options="code.CD as code.NAME+code.DC_RMK1 for code in vm.code.obsSronCdList"
										        data-ng-model="vm.servRec.CD_OBS_SRON.value" data-ng-change="vm.servRec.changeObsSron(vm.code.obsSronCdList)"></select>
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_OBS_SRON.value}}<span data-ng-if="vm.servRec.NM_OBS_SRON.value">{{' - '+ vm.servRec.OBS_SRON_DC_RMK1.value}}</span></div>
								</td>
								<th>장애구분</th>
								<td>
									<div data-ng-if="vm.servRec.isEnableWrite()">
										<select id="cdObsSep" class="form-control" title="장애구분 선택" data-ng-options="code.CD as code.NAME for code in vm.code.obsSepCdList"
										        data-ng-model="vm.servRec.CD_OBS_SEP.value"></select>
									</div>
									<div data-ng-if="!vm.servRec.isEnableWrite()">{{vm.servRec.NM_OBS_SEP.value}}</div>
								</td>
							</tr>
							<tr data-ng-if="vm.servRec.isEnableWrite()">
								<th>신규장비정보</th>
								<td colspan="7">
									<div class="btn-group mb-10" role="group">
										<button type="button" class="btn btn-primary" data-ng-click="vm.servRec.NEW_EQM_LIST.addRow()"><i class="fa fa-plus fa-lg"></i> 추가</button>
									</div>
									<table class="table table-bordered table-condensed" style="margin:0;">
										<colgroup>
											<col span="3" style="width:10%;" />
											<col/>
											<col span="4" style="width:10%;" />
											<col style="width: 50px;"/>
										</colgroup>
										<thead>
										<tr>
											<th class="ta-c"><span class="form-required">* </span>장비명</th>
											<th class="ta-c">장비ID</th>
											<th class="ta-c">S/N</th>
											<th class="ta-c">장비위치</th>
											<th class="ta-c"><span class="form-required">* </span>장비유형</th>
											<th class="ta-c"><span class="form-required">* </span>제조사</th>
											<th class="ta-c">IP Address</th>
											<th class="ta-c">Back계약여부</th>
											<th class="ta-c">Action</th>
										</tr>
										</thead>
										<tbody>
										<tr data-ng-repeat="eqm in vm.servRec.NEW_EQM_LIST.compositeData">
											<td class="ta-c">
												<div><input type="text" eden-type="kor" class="form-control" title="장비명 입력" data-ng-model="eqm.NM_EQM.value" /></div>
											</td>
											<td class="ta-c">
												<div><input type="text" eden-type="kor" class="form-control" title="장비ID 입력" data-ng-model="eqm.NM_EQM_ID.value" /></div>
											</td>
											<td class="ta-c">
												<div><input type="text" eden-type="kor" class="form-control" title="Serial Number 입력" data-ng-model="eqm.DC_SRN.value" /></div>
											</td>
											<td>
												<div><input type="text" eden-type="kor" class="form-control" title="장비위치 입력" data-ng-model="eqm.DC_EQM_POS.value" /></div>
											</td>
											<td>
												<div>
													<select class="form-control" title="장비유형 선택" data-ng-options="code.CD as code.NAME for code in vm.code.eqmTpList" data-ng-model="eqm.CD_EQM_TP.value"></select>
												</div>
											</td>
											<td class="ta-c">
												<div>
													<select class="form-control" title="제조사 선택" data-ng-options="code.CD as code.NAME for code in vm.code.vedCList" data-ng-model="eqm.CD_VED_C.value"></select>
												</div>
											</td>
											<td class="ta-c">
												<div><input type="text" eden-type="kor" class="form-control" title="IP Address 입력" data-ng-model="eqm.DC_IPA.value" /></div>
											</td>
											<td class="ta-c">
												<div>
													<select class="form-control" title="Back계약여부 선택" data-ng-options="code.CD as code.NAME|ynText:'YES':'NO' for code in vm.code.ynList" data-ng-model="eqm.CD_BACK_CTR_YN.value"></select>
												</div>
											</td>
											<td class="ta-c">
												<button type="button" class="btn btn-default" data-ng-click="vm.servRec.NEW_EQM_LIST.deleteRow($index)"><i class="fa fa-trash-o fa-lg"></i></button>
											</td>
										</tr>
										<tr data-ng-if="vm.servRec.NEW_EQM_LIST.compositeData.length==0">
											<td colspan="9" class="ta-c">등록된 장비가 없습니다.</td>
										</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<th>기존장비정보</th>
								<td colspan="7">
									<div>
										<div data-ng-if="vm.servRec.isEnableWrite()" class="btn-group mb-10" role="group">
											<button type="button" class="btn btn-primary" data-ng-click="vm.servRec.modalEqm()"><i class="fa fa-plus fa-lg"></i> 추가</button>
										</div>
										<table class="table table-bordered table-condensed" style="margin:0;">
											<colgroup>
												<col span="3" style="width:10%;" />
												<col/>
												<col span="4" style="width:10%;" />
												<col data-ng-if="vm.servRec.isEnableWrite()" style="width: 50px;"/>
											</colgroup>
											<thead>
											<tr>
												<th class="ta-c">장비명</th>
												<th class="ta-c">장비ID</th>
												<th class="ta-c">S/N</th>
												<th class="ta-c">장비위치</th>
												<th class="ta-c">장비유형</th>
												<th class="ta-c">제조사</th>
												<th class="ta-c">IP Address</th>
												<th class="ta-c">Back계약여부</th>
												<th class="ta-c" data-ng-if="vm.servRec.isEnableWrite()">Action</th>
											</tr>
											</thead>
											<tbody>
											<tr data-ng-repeat="eqm in vm.servRec.EQM_LIST.compositeData">
												<td class="ta-c" title="{{eqm.NM_EQM.value}}">{{eqm.NM_EQM.value}}</td>
												<td class="ta-c" title="{{eqm.NM_EQM_ID.value}}">{{eqm.NM_EQM_ID.value}}</td>
												<td class="ta-c" title="{{eqm.DC_SRN.value}}">{{eqm.DC_SRN.value}}</td>
												<td title="{{eqm.DC_EQM_POS.value}}">{{eqm.DC_EQM_POS.value}}</td>
												<td class="ta-c" title="{{eqm.NM_EQM_TP.value}}">{{eqm.NM_EQM_TP.value}}</td>
												<td class="ta-c" title="{{eqm.NM_VED_C.value}}">{{eqm.NM_VED_C.value}}</td>
												<td class="ta-c" title="{{eqm.DC_IPA.value}}">{{eqm.DC_IPA.value}}</td>
												<td class="ta-c" title="{{eqm.NM_BACK_CTR_YN.value}}">{{eqm.NM_BACK_CTR_YN.value|ynText:'YES':'NO'}}</td>
												<td class="ta-c" data-ng-if="vm.servRec.isEnableWrite()">
													<button type="button" class="btn btn-default" data-ng-click="vm.servRec.EQM_LIST.deleteRow(eqm, $index)"><i class="fa fa-trash-o fa-lg"></i></button>
												</td>
											</tr>
											<tr data-ng-if="vm.servRec.EQM_LIST.compositeData.length==0">
												<td colspan="9" class="ta-c" data-ng-if="vm.servRec.isEnableWrite()">등록된 장비가 없습니다.</td>
												<td colspan="8" class="ta-c" data-ng-if="!vm.servRec.isEnableWrite()">등록된 장비가 없습니다.</td>
											</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
							<!--/ 서비스유형:1(장비) -->

							<tr>
								<th>파일정보</th>
								<td colspan="7">
									<ui-file-view data-files="vm.servRec.recFile"></ui-file-view>
								</td>
							</tr>
							<tr data-ng-if="vm.servRec.isStatProcCancel()">
								<th>접수취소파일정보</th>
								<td colspan="7">
									<ui-file-view data-files="vm.servRec.cclFile"></ui-file-view>
								</td>
							</tr>
							<tr data-ng-if="vm.servRec.isStatProcCompleted()">
								<th>접수완료<br/>파일정보</th>
								<td colspan="7">
									<ui-file-view data-files="vm.servRec.finishFile"></ui-file-view>
								</td>
							</tr>


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="svServRecCancel/template">
	<div class="modal-header">
		<h3 class="modal-title">접수취소</h3>
	</div>
	<div class="modal-body">
		<div class="form-type1">
			<table>
				<colgroup>
					<col style="width: 20%" />
					<col style="width: 80%" />
				</colgroup>
				<tbody>
				<tr>
					<th><span class="form-required">* </span>접수취소내용</th>
					<td>
						<div class="textarea-wrapper">
							<text-angular class="btn-group-small" ng-model="svServRec.DC_REC_CCL.value"></text-angular>
						</div>
					</td>
				</tr>
				<tr>
					<th>파일정보</th>
					<td>
						<ui-file-view data-files="svServRec.cclFile"></ui-file-view>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" title="접수취소 확인" data-ng-click="svServRec.confirm()">확인</button>
			<button type="button" class="btn btn-warning" title="취소" data-ng-click="svServRec.cancel()">취소</button>
		</div>
	</div>
</script>