<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#analysis/result">사업분석</a></li>
                <li><a href="#analysis/change">변경분석</a></li>
            </ol>
        </div>
    </div>

    <!-- 검색 -->
    <div class="row">
        <div class="content-area-container col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-search"></i>
                        <span>검색</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <form class="search-type1">
                        <table>
                            <colgroup>
                                <col style="width: 10%;">
                                <col style="width: 23%;">
                                <col style="width: 10%;">
                                <col style="width: 23%;">
                                <col style="width: 10%;">
                                <col style="width: 24%;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>상위부서</th>
                                <td>
                                    <div>
                                        <select class="form-control" title="상위부서 선택" data-ng-model="searchVO.kind"
                                                data-ng-options="code.CD as code.NAME for code in  page.code.seniorCodeList" data-ng-change="searchVO.getDeptAndResp()">
                                        </select>
                                    </div>
                                </td>
                                <th>하위부서/팀</th>
                                <td>
	                                <div>
		                                <select class="form-control" title="하위부서 선택" data-ng-model="searchVO.depart"
		                                        data-ng-options="code.CD as code.NAME for code in page.code.departCodeList" data-ng-change="searchVO.getSalesUser()">
		                                </select>
	                                </div>
                                </td>
                                <th>영업대표</th>
                                <td>
	                                <div>
		                                <select class="form-control mt-5" title="접수자 선택" data-ng-model="searchVO.salesRep"
		                                        data-ng-options="code.CD as code.NAME for code in page.code.salesRepList">
		                                </select>
	                                </div>
                                </td>
                            </tr>
                            <tr>
                                <th>기간</th>
                                <td colspan="5">
                                    <div data-date-search-group="searchVO.date"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="btn-group1 mt-20">
                            <button type="submit" class="btn btn-primary" title="기본검색" data-ng-click="searchVO.doInquiry()">검색</button>
                            <button type="button" class="btn btn-danger" title="기본검색 초기화" data-ng-click="searchVO.init()">초기화</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ 검색 -->

    <!-- 변경분석 정보 -->
    <div class="row">
        <div class="content-area-container col-xs-12">
            <div class="box">
                <div class="box-content">
                    <ul class="tab-type2">
                        <li data-ng-class="{active: tabInfo.active}" data-ng-repeat="tabInfo in tabVO.tabList">
                            <a href="#" data-ng-click="tabVO.click($event, tabInfo.name)">{{tabInfo.title}}</a>
                        </li>
                    </ul>

                    <div>
                        <!-- 전사 START -->
                        <div class="analysis-total-box" data-ng-if="seniorDepartVO.visible">
                            <table class="analysis-total">
                                <thead>
                                <th>전사 Funnel정확도</th>
                                <th>전사 Forecast정확도</th>
                                <th>전사 Commit정확도</th>
                                <th>전사 Cost정확도</th>
                                <th>전사 Margin정확도</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td >
                                        <div data-ng-class="{'red1': totalVO.FUNNEL_ACCURACY<0, 'blue1': totalVO.FUNNEL_ACCURACY>0}">
                                            <span data-ng-if="totalVO.FUNNEL_ACCURACY!='N/A'">{{totalVO.FUNNEL_ACCURACY|mathFloor:'%'}}</span>
                                            <span data-ng-if="totalVO.FUNNEL_ACCURACY=='N/A'">{{totalVO.FUNNEL_ACCURACY}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div data-ng-class="{'red1': totalVO.FORECAST_ACCURACY<0, 'blue1': totalVO.FORECAST_ACCURACY>0}">
                                            <span data-ng-if="totalVO.FORECAST_ACCURACY!='N/A'">{{totalVO.FORECAST_ACCURACY|mathFloor:'%'}}</span>
                                            <span data-ng-if="totalVO.FORECAST_ACCURACY=='N/A'">{{totalVO.FORECAST_ACCURACY}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div data-ng-class="{'red1': totalVO.COMMIT_ACCURACY<0, 'blue1': totalVO.COMMIT_ACCURACY>0}">
                                            <span data-ng-if="totalVO.COMMIT_ACCURACY!='N/A'">{{totalVO.COMMIT_ACCURACY|mathFloor:'%'}}</span>
                                            <span data-ng-if="totalVO.COMMIT_ACCURACY=='N/A'">{{totalVO.COMMIT_ACCURACY}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div data-ng-class="{'red1': totalVO.COST_ACCURACY<0, 'blue1': totalVO.COST_ACCURACY>0}">
                                            <span data-ng-if="totalVO.COST_ACCURACY!='N/A'">{{totalVO.COST_ACCURACY|mathFloor:'%'}}</span>
                                            <span data-ng-if="totalVO.COST_ACCURACY=='N/A'">{{totalVO.COST_ACCURACY}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div data-ng-class="{'red1': totalVO.MARGIN_ACCURACY<0, 'blue1': totalVO.MARGIN_ACCURACY>0}">
                                            <span data-ng-if="totalVO.MARGIN_ACCURACY!='N/A'">{{totalVO.MARGIN_ACCURACY|mathFloor:'%'}}</span>
                                            <span data-ng-if="totalVO.MARGIN_ACCURACY=='N/A'">{{totalVO.MARGIN_ACCURACY}}</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--/ 전사 END -->

                        <!-- 상위부서 START -->
                        <div class="box" data-ng-if="seniorDepartVO.visible" style="margin-top: 20px;">
                            <div class="box-header">
                                <div class="box-name">
                                    <i class="fa fa-bar-chart-o"></i>
                                    <span>상위부서</span>
                                </div>
                                <div class="box-icons">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div>
                                    <div data-ui-grid="seniorDepartVO.gridOptions" class="grid"
                                         ui-grid-resize-columns
                                         ui-grid-auto-resize
                                         data-ui-grid-pinning
                                         ui-grid-expandable style="height: 250px;"></div>
                                </div>
                            </div>
                        </div>
                        <!--/ 상위부서 END -->

                        <!-- 소속(하위부서/팀) START -->
                        <div class="box" data-ng-if="subDepartVO.visible" style="margin-top: 20px;">
                            <div class="box-header">
                                <div class="box-name">
                                    <i class="fa fa-bar-chart-o"></i>
                                    <span>소속(하위부서/팀)</span>
                                </div>
                                <div class="box-icons">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div>
                                    <div data-ui-grid="subDepartVO.gridOptions" class="grid"
                                         ui-grid-resize-columns
                                         ui-grid-auto-resize
                                         data-ui-grid-pinning
                                         ui-grid-expandable style="height: 250px;"></div>
                                </div>
                            </div>
                        </div>
                        <!--/ 소속(하위부서/팀) END -->

                        <!-- 영업대표 START -->
                        <div class="box" data-ng-if="individualVO.visible" style="margin-top: 20px;">
                            <div class="box-header">
                                <div class="box-name">
                                    <i class="fa fa-bar-chart-o"></i>
                                    <span>영업대표</span>
                                </div>
                                <div class="box-icons">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div>
                                    <div data-ui-grid="individualVO.gridOptions" class="grid"
                                         ui-grid-resize-columns
                                         ui-grid-auto-resize
                                         data-ui-grid-pinning
                                         ui-grid-expandable style="height: 250px;"></div>
                                </div>
                            </div>
                        </div>
                        <!--/ 영업대표 END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ 변경분석 정보 -->
</div>

<script type="text/ng-template" id="expandableRow.tpl.html">
    <div ui-grid="row.entity.subGridOptions" style="height: 140px;"></div>
</script>