<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#customer/company/list">고객관리</a></li>
                <li><a href="#customer/company/list">고객사</a></li>
            </ol>
        </div>
    </div>
    <!-- 고객사 등록 -->
    <div class="row">
        <div class="content-area-container col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-users"></i>
                        <span>고객사</span>
                    </div>
                </div>
                <div class="box-content">
                    <form id="companyForm" name="companyForm" novalidate>
                        <h4 class="sub-title">- 고객일반정보</h4>
                        <div class="form-type1">
                            <table>
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th><span class="form-required">* </span>고객사명</th>
                                    <td>
                                        <span data-ng-if="page.isWriteableAll()">
                                            <input type="text" class="form-control wid-x6" id="companyName" name="companyName" title="고객사명 입력" placeholder="고객사명을 입력해주세요."
                                                   maxlength="32"
                                                   data-ng-model="companyVO.param.c_NAME" data-eden-type="kor">
                                        </span>
                                        <span data-ng-if="!page.isWriteableAll()">
                                            {{companyVO.param.c_NAME}}
                                        </span>
                                    </td>
                                    <th>사업자번호</th>
                                    <td>
                                        <span data-ng-if="page.isWriteableAll()">
                                            <input type="text" class="form-control wid-x6" id="corpRegNum" name="corpRegNum" placeholder="'000-00-00000'로 입력해주세요." title="사업자번호 입력"
                                                   maxlength="12"
                                                   data-ng-model="companyVO.param.c_CORP_REG_NUMBER">
                                        </span>
                                        <span data-ng-if="!page.isWriteableAll()">
                                            {{companyVO.param.c_CORP_REG_NUMBER}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>우편번호</th>
                                    <td colspan="3">
                                        <span data-ng-if="page.isWriteableAll()">
                                            <input type="text" class="form-control wid-x2" id="zipcode" name="zipcode" title="우편번호 입력" maxlength="7" data-ng-model="companyVO.param.c_CORP_ZIPCODE">
                                        </span>
                                        <span data-ng-if="!page.isWriteableAll()">
                                            {{companyVO.param.c_CORP_ZIPCODE}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td colspan="3">
                                        <span data-ng-if="page.isWriteableAll()">
                                            <input type="text" class="form-control wid-x6" id="addr1" name="addr1" placeholder="기본주소를 입력해주세요." title="기본주소 입력"
                                                   maxlength="100"
                                                   data-ng-model="companyVO.param.c_CORP_ADDR1" data-eden-type="kor">
                                            <input type="text" class="form-control wid-x3" id="addr2" name="addr2" placeholder="상세주소를 입력해주세요." title="상세주소 입력"
                                                   maxlength="50"
                                                   data-ng-model="companyVO.param.c_CORP_ADDR2" data-eden-type="kor">
                                        </span>
                                        <span data-ng-if="!page.isWriteableAll()">
                                            {{companyVO.param.c_CORP_ADDR1}} {{companyVO.param.c_CORP_ADDR2}}
                                        </span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>대표번호</th>
                                    <td>
                                        <span data-ng-if="page.isWriteableAll()">
                                            <input type="text" class="form-control wid-x6" id="phone" name="phone" placeholder="'000-0000-0000'로 입력해주세요." title="대표번호 입력"
                                                   maxlength="13"
                                                   data-ng-model="companyVO.param.c_CORP_PHONE">
                                        </span>
                                        <span data-ng-if="!page.isWriteableAll()">
                                            {{companyVO.param.c_CORP_PHONE}}
                                        </span>
                                    </td>
                                    <th>FAX</th>
                                    <td>
                                        <span data-ng-if="page.isWriteableAll()">
                                             <input type="text" class="form-control wid-x6" id="fax" name="fax" placeholder="'000-0000-0000'로 입력해주세요." title="FAX번호 입력"
                                                    maxlength="13"
                                                    data-ng-model="companyVO.param.c_CORP_FAX">
                                        </span>
                                        <span data-ng-if="!page.isWriteableAll()">
                                            {{companyVO.param.c_CORP_FAX}}
                                        </span>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <h4 class="sub-title mt-20">- 담당부서정보</h4>
                        <div class="form-type1">
                            <table>
                                <colgroup>
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                    <col style="width: 12%">
                                    <col style="width: 38%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>담당부서</th>
                                    <td>
                                        <span data-ng-if="page.isWriteableAll()">
											<select class="form-control wid-x4" title="담당부서 선택" data-ng-options="dept.CD as dept.NAME for dept in codeVO.departCodeList" data-ng-model="companyVO.param.c_SALES_DEPT_CD"
                                                    data-ng-disabled="part.disabled">
                                            </select>
                                        </span>
                                        <span data-ng-if="!page.isWriteableAll() && companyVO.param.c_SALES_DEPT_CD==0">전체</span>
                                        <span data-ng-if="!page.isWriteableAll() && companyVO.param.c_SALES_DEPT_CD!=0">{{companyVO.param.SALES_DEPT_NAME}}</span>
                                    </td>
                                    <th>영업대표</th>
                                    <td>
                                        <div data-ng-if="page.isWriteableAll()" class="frm-input-group">
											<span class="frm-input-group-value">
												<input type="text" class="form-control" title="영업대표 입력" data-ng-model="companyVO.param.c_SALES_EMP_NAME" disabled="disabled" />
											</span>
											<span class="frm-input-group-btn">
												<button type="button" class="btn btn-default" title="영업대표 검색 팝업" data-ng-click="companyVO.modalSearchSalesEmp()">검색</button>
											</span>
                                        </div>
	                                    <div data-ng-if="!page.isWriteableAll()" class="frm-input-group">
		                                    <span> {{companyVO.param.c_SALES_EMP_NAME}}</span>
	                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>기술서비스책임자</th>
                                    <td colspan="3">
                                        <span data-ng-if="page.isWriteableAll()">
                                            <input type="text" class="form-control wid-x2" id="technic" name="technic" title="기술서비스책임자 입력"
                                                   maxlength="20"
                                                   data-ng-model="companyVO.param.c_TECHNIC_EMP_NAME" data-eden-type="kor">
                                        </span>
                                        <span data-ng-if="!page.isWriteableAll()">
                                            {{companyVO.param.c_TECHNIC_EMP_NAME}}
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="btn-group1 mt-20" data-ng-if="page.isWriteableAll()">
                            <button data-ng-if="companyVO.kind=='insert'" type="submit" class="btn btn-primary" title="고객사등록" data-ng-click="companyVO.doInsert()">등록</button>
                            <button data-ng-if="companyVO.kind=='detail'" type="button" class="btn btn-primary" title="고객사수정" data-ng-click="companyVO.doUpdate()">수정</button>
                            <button type="button" class="btn btn-danger" title="취소" data-ng-click="companyVO.doCancel()">취소</button>
                        </div>

                        <div class="btn-group1 mt-20" data-ng-if="!page.isWriteableAll()">
                            <button data-ng-if="companyVO.kind=='detail'" type="button" class="btn btn-primary" title="확인" data-ng-click="companyVO.doCancel('confirm')">확인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ 고객사 등록 -->

    <!-- 고객담당자정보 -->
    <div data-ng-show="companyVO.kind=='detail'" class="row">
        <div class="content-area-container col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-users"></i>
                        <span>고객담당자정보</span>
                    </div>
                </div>
                <div class="box-content">
                    <div class="tbl-type1" style="margin-top: 5px;">
                        <table id="chargeTbl" data-ng-table="chargeVO.tbl.tableParams" class="table table-striped no-footer">
                            <colgroup>
                                <col style="width: 20%;">
                                <col style="width: 15%;">
                                <col style="width: 15%;">
                                <col style="width: 20%;">
                                <col style="width: 30%;">
                            </colgroup>
                            <thead>
                            <th class="ta-c sortable"
                                data-ng-repeat="column in chargeVO.tbl.columns"
                                data-ng-show="column.visible"
                                data-ng-class="{
										'last': $last,
										'sort-asc': chargeVO.tbl.tableParams.isSortBy(column.field, 'asc'),
										'sort-desc': chargeVO.tbl.tableParams.isSortBy(column.field, 'desc')}"
                                data-ng-click="chargeVO.tbl.tableParams.sorting(column.field, chargeVO.tbl.tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                                <div>{{column.title}}</div>
                            </th>
                            </thead>
                            <tbody data-ng-if="chargeVO.data.length > 0">
                            <tr ng-repeat="info in $data">
                                <td><span>{{info.d_NAME}}</span></td>
                                <td><span>{{info.d_DEPT}}</span></td>
                                <td><span>{{info.d_POS}}</span></td>
                                <td><span>{{info.d_MOBILE}}</span></td>
                                <td class="last"><span>{{info.d_EMAIL}}</span></td>
                            </tr>
                            </tbody>
                            <tbody data-ng-if="chargeVO.data.length==0">
                            <tr>
                                <td colspan="5">등록된 담당자가 존재하지 않습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ 고객담당자정보 -->
</div>
