<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#customer/company/list">고객관리</a></li>
                <li><a href="#customer/charge/list">담당자</a></li>
            </ol>
        </div>
    </div>

    <!-- 검색 -->
    <div class="row">
        <div class="content-area-container col-xs-12">
            <div data-content-box-layer data-box-title="searchVO.boxTitle">
                <form class="search-type1">
                    <table>
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 40%;">
                            <col style="width: 10%;">
                            <col style="width: 40%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>고객사명</th>
                            <td><input type="text" class="form-control wid-x6" title="고객사 입력" data-ng-model="searchVO.client" data-eden-type="kor"></td>
                            <th>담당자</th>
                            <td>
                                <input type="text" class="form-control wid-x6" title="담당자 입력" data-ng-model="searchVO.dmpl" data-eden-type="kor">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="btn-group1 mt-20">
                        <button type="submit" class="btn btn-primary" title="고객사검색" data-ng-click="searchVO.doInquiry()">검색</button>
                        <button type="button" class="btn btn-danger" title="검색조건 초기화" data-ng-click="searchVO.init()">초기화</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/ 검색 END -->

    <!-- 담당자 리스트 -->
    <div class="row">
        <div class="content-area-container col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-cogs"></i>
                        <span>담당자</span>
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="box-content-article">
                        <div class="article-header">
                            <div class="col-xs-6 article-header-box">
                                <div class="info">Total : <span class="total-count">{{chargeVO.total}}</span> 명</div>
                            </div>
                            <div data-ng-if="page.isWriteableAll()" class="col-xs-6 article-header-box ta-r grid-export">
                                <button type="button" class="ae-btn ae-add-btn" title="담당자 등록" data-ng-click="chargeVO.moveInsertPage()"><i class="fa fa-plus"></i> 등록</button>
                                <button type="button" class="ae-btn ae-delete-btn" title="담당자 삭제" data-ng-click="chargeVO.doDelete()"><i class="fa fa-times"></i> 삭제</button>
                            </div>
                        </div>

                        <div class="article-view">
                            <table id="chargeTbl" data-ng-table="chargeVO.tbl.tableParams" class="table table-bordered table-striped table-hover table-condensed no-footer">
                                <colgroup>
                                    <col style="width: 4%;">
                                    <col style="width: 14%;">
                                    <col style="width: 16%;">
                                    <col style="width: 19%;">
                                    <col style="width: 16%;">
                                    <col style="width: 16%;">
                                    <col style="width: 15%;">
                                </colgroup>
                                <thead>
                                <th class="ta-c"
                                    data-ng-repeat="column in chargeVO.tbl.columns"
                                    data-ng-show="column.visible"
                                    data-ng-class="{
										   		'sortable': $index!=0,
												'last': $last,
										   		'sort-asc': chargeVO.tbl.tableParams.isSortBy(column.field, 'asc'),
									   			'sort-desc': chargeVO.tbl.tableParams.isSortBy(column.field, 'desc')}"
                                    data-ng-click="chargeVO.tbl.tableParams.sorting(column.field, chargeVO.tbl.tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                                    <div>{{column.title}}</div>
                                </th>
                                </thead>
                                <tbody class="hover">
                                <tr ng-repeat="info in $data" data-ng-dblclick="chargeVO.moveDetailPage(info)">
                                    <td><span><input type="checkbox" title="{{info.c_NAME}} 선택" data-ng-model="info.checked"></span></td>
                                    <td><span>{{info.d_NAME}}</span></td>
                                    <td><span>{{info.c_NAME}}</span></td>
                                    <td><span>{{info.d_DEPT}}</span></td>
                                    <td><span>{{info.d_POS}}</span></td>
                                    <td><span>{{info.d_MOBILE}}</span></td>
                                    <td class="last"><span>{{info.d_EMAIL}}</span></td>
                                </tr>
                                <tr data-ng-if="$data.length == 0">
                                    <td colspan="7" class="last"><span class="tbl-message">등록 또는 검색된 정보가 없습니다.</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ 담당자 리스트 END -->
</div>
