<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
        <div id="app-content-header">
            <ol class="breadcrumb">
                <li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="#customer/company/list">고객관리</a></li>
                <li><a href="#customer/charge/list">담당자</a></li>
            </ol>
        </div>
    </div>
    <!-- 고객사 등록 -->
    <div class="row">
        <div class="content-area-container col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-name">
                        <i class="fa fa-users"></i>
                        <span>담당자</span>
                    </div>
                </div>
                <div class="box-content">
                    <div class="form-type1">
                        <table>
                            <colgroup>
                                <col style="width: 12%">
                                <col style="width: 38%">
                                <col style="width: 12%">
                                <col style="width: 38%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th><span class="form-required">* </span>고객사명</th>
                                <td>
                                    <span data-ng-if="page.isWriteableAll()">
                                        <input type="text" class="form-control wid-x6" name="companyName" placeholder="고객사명을 검색해주세요." title="고객사 입력" disabled="disabled"
                                               data-ng-model="chargeVO.param.c_NAME">
                                        <button type="button" class="btn btn-default btn-label-left" id="companyNameBtn" title="고객사 레이어팝업 열림"
                                                data-ng-click="chargeVO.modalSearchCustomerCompany()">
                                            <span><i class="fa fa-search"></i></span>검색
                                        </button>
                                    </span>
                                    <span data-ng-if="!page.isWriteableAll()">
                                        {{chargeVO.param.c_NAME}}
                                    </span>
                                </td>
                                <th><span class="form-required">* </span>이름</th>
                                <td>
                                    <span data-ng-if="page.isWriteableAll()">
                                         <input type="text" class="form-control wid-x6" id="chargeName" name="chargeName" title="이름 입력"
                                                maxlength="32"
                                                data-ng-model="chargeVO.param.d_NAME" data-eden-type="kor">
                                    </span>
                                    <span data-ng-if="!page.isWriteableAll()">
                                        {{chargeVO.param.d_NAME}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>부서</th>
                                <td>
                                    <span data-ng-if="page.isWriteableAll()">
                                        <input type="text" class="form-control wid-x6" id="chargeDept" name="chargeDept" title="부서 입력"
                                               maxlength="32"
                                               data-ng-model="chargeVO.param.d_DEPT" data-eden-type="kor">
                                    </span>
                                    <span data-ng-if="!page.isWriteableAll()">
                                        {{chargeVO.param.d_DEPT}}
                                    </span>
                                </td>
                                <th>직급</th>
                                <td>
                                    <span data-ng-if="page.isWriteableAll()">
                                        <input type="text" class="form-control wid-x6" id="chargePos" name="chargePos" title="직급 입력"
                                               maxlength="32"
                                               data-ng-model="chargeVO.param.d_POS" data-eden-type="kor">
                                    </span>
                                    <span data-ng-if="!page.isWriteableAll()">
                                        {{chargeVO.param.d_POS}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="form-required">* </span>연락처</th>
                                <td>
                                    <span data-ng-if="page.isWriteableAll()">
                                        <input type="text" class="form-control wid-x6" id="chargePhone" name="chargePhone" placeholder="'000-0000-0000'형식으로 입력해주세요." title="연락처 입력"
                                               maxlength="13"
                                               data-ng-model="chargeVO.param.d_MOBILE">
                                    </span>
                                    <span data-ng-if="!page.isWriteableAll()">
                                        {{chargeVO.param.d_MOBILE}}
                                    </span>
                                </td>
                                <th>이메일</th>
                                <td>
                                    <span data-ng-if="page.isWriteableAll()">
                                        <input type="text" class="form-control wid-x6" id="chargeEmail" name="chargeEmail" title="이메일 입력"
                                               maxlength="40"
                                               data-ng-model="chargeVO.param.d_EMAIL">
                                    </span>
                                    <span data-ng-if="!page.isWriteableAll()">
                                        {{chargeVO.param.d_EMAIL}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>주소</th>
                                <td colspan="3">
                                    <span data-ng-if="page.isWriteableAll()">
                                        <input type="text" class="form-control wid-x6" id="chargeAddr1" name="chargeAddr1" placeholder="기본주소를 입력해주세요." title="기본주소 입력"
                                               maxlength="100"
                                               data-ng-model="chargeVO.param.c_CORP_ADDR1" data-eden-type="kor">
                                        <input type="text" class="form-control wid-x3" id="chargeAddr2" name="chargeAddr2" placeholder="상세주소를 입력해주세요." title="상세주소 입력"
                                               maxlength="50"
                                               data-ng-model="chargeVO.param.c_CORP_ADDR2" data-eden-type="kor">
                                    </span>
                                    <span data-ng-if="!page.isWriteableAll()">
                                        {{chargeVO.param.c_CORP_ADDR1}} {{chargeVO.param.c_CORP_ADDR2}}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btn-group1 mt-20" data-ng-if="page.isWriteableAll()">
                        <button data-ng-if="chargeVO.kind=='insert'" type="submit" class="btn btn-primary" title="담당자 등록" data-ng-click="chargeVO.doInsert()">등록</button>
                        <button data-ng-if="chargeVO.kind=='detail'" type="submit" class="btn btn-primary" title="고객사수정" data-ng-click="chargeVO.doUpdate()">수정</button>
                        <button type="button" class="btn btn-danger" title="취소" data-ng-click="chargeVO.doCancel()">취소</button>
                    </div>

                    <div class="btn-group1 mt-20" data-ng-if="!page.isWriteableAll()">
                        <button data-ng-if="chargeVO.kind=='detail'" type="submit" class="btn btn-primary" title="확인" data-ng-click="chargeVO.doCancel('confirm')">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ 고객사 등록 -->
</div>
