@import "variables.less";

@font-face {
	font-family 	: "Noto Sans KR";
	font-style 		: normal;
	font-weight 	: 100;
	src 				: local( "Noto Sans Thin" ), local( "NotoSans-Thin" ),
		url( "@{font-path}/NotoSansKR-Thin-Hestia.eot" ) format( "eot" ),
		url( "@{font-path}/NotoSansKR-Thin-Hestia.eot?#iefix" ) format( "embedded-opentype" ),
		url( "@{font-path}/NotoSansKR-Thin-Hestia.woff" ) format( "woff" )
}

@font-face {
	font-family 	: "Noto Sans KR";
	font-style 		: normal;
	font-weight 	: 200;
	src 				: local( "Noto Sans Light" ), local( "NotoSans-Light" ),
		url( "@{font-path}/NotoSansKR-Light-Hestia.eot" ) format( "eot" ),
		url( "@{font-path}/NotoSansKR-Light-Hestia.eot?#iefix" ) format( "embedded-opentype" ),
		url( "@{font-path}/NotoSansKR-Light-Hestia.woff" ) format( "woff" )
}

@font-face {
	font-family 	: "Noto Sans KR";
	font-style 		: normal;
	font-weight 	: 300;
	src 				: local( "Noto Sans DemiLight" ), local( "NotoSans-DemiLight" ),
		url( "@{font-path}/NotoSansKR-DemiLight-Hestia.eot" ) format( "eot" ),
		url( "@{font-path}/NotoSansKR-DemiLight-Hestia.eot?#iefix" ) format( "embedded-opentype" ),
		url( "@{font-path}/NotoSansKR-DemiLight-Hestia.woff" ) format( "woff" )
}

@font-face {
	font-family 	: "Noto Sans KR";
	font-style 		: normal;
	font-weight 	: 400;
	src 				: local( "Noto Sans Regular" ), local( "NotoSans-Regular" ),
		url( "@{font-path}/NotoSansKR-Regular-Hestia.eot" ) format( "eot" ),
		url( "@{font-path}/NotoSansKR-Regular-Hestia.eot?#iefix" ) format( "embedded-opentype" ),
		url( "@{font-path}/NotoSansKR-Regular-Hestia.woff" ) format( "woff" )
}

@font-face {
	font-family 	: "Noto Sans KR";
	font-style 		: normal;
	font-weight 	: 500;
	src 				: local( "Noto Sans Medium" ), local( "NotoSans-Medium" ),
		url( "@{font-path}/NotoSansKR-Medium-Hestia.eot" ) format( "eot" ),
		url( "@{font-path}/NotoSansKR-Medium-Hestia.eot?#iefix" ) format( "embedded-opentype" ),
		url( "@{font-path}/NotoSansKR-Medium-Hestia.woff" ) format( "woff" )
}

@font-face {
	font-family 	: "Noto Sans KR";
	font-style 		: normal;
	font-weight 	: 700;
	src 				: local( "Noto Sans Bold" ), local( "NotoSans-Bold" ),
		url( "@{font-path}/NotoSansKR-Bold-Hestia.eot" ) format( "eot" ),
		url( "@{font-path}/NotoSansKR-Bold-Hestia.eot?#iefix" ) format( "embedded-opentype" ),
		url( "@{font-path}/NotoSansKR-Bold-Hestia.woff" ) format( "woff" )
}

@font-face {
	font-family 	: "Noto Sans KR";
	font-style 		: normal;
	font-weight 	: 900;
	src 				: local( "Noto Sans Black" ), local( "NotoSans-Black" ),
		url( "@{font-path}/NotoSansKR-Black-Hestia.eot" ) format( "eot" ),
		url( "@{font-path}/NotoSansKR-Black-Hestia.eot?#iefix" ) format( "embedded-opentype" ),
		url( "@{font-path}/NotoSansKR-Black-Hestia.woff" ) format( "woff" )
}