@color-bg: #6AA6D6;

@color-base	  :#000;
@color-darker :lighten(@color-base, 13.5%);
@color-dark	  :lighten(@color-base, 20%);
@color-light  :lighten(@color-base, 46.7%);
@color-lighter:lighten(@color-base, 93.5%);

@color-red : #FF0000;
@color-red-darker :lighten(@color-red, 13.5%);
@color-red-dark	  :lighten(@color-red, 20%);
@color-red-light  :lighten(@color-red, 46.7%);
@color-red-lighter:lighten(@color-red, 93.5%);

@color-green : #109618;
@color-green-darker :lighten(@color-green, 13.5%);
@color-green-dark	:lighten(@color-green, 20%);
@color-green-light  :lighten(@color-green, 46.7%);
@color-green-lighter:lighten(@color-green, 93.5%);

@color-orange : #ff9900;
@color-orange-darker :lighten(@color-orange, 13.5%);
@color-orange-dark	 :lighten(@color-orange, 20%);
@color-orange-light  :lighten(@color-orange, 46.7%);
@color-orange-lighter:lighten(@color-orange, 93.5%);



@color-primary: #337ab7;
@color-success: #5cb85c;
@color-info   : #5bc0de;
@color-warning: #f0ad4e;
@color-danger : #d9534f;
@color-gray   : #b4c2cc;
@color-green  : #32ac8e;
