<div id="app-content" class="col-xs-12 col-sm-10">
    <div class="row">
		<div id="app-content-header">
			<ol class="breadcrumb">
				<li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
				<li><a href="#business/list">사업관리</a></li>
			</ol>
		</div>
    </div>

    <div class="row">
        <div class="content-area-container col-xs-12">
            <div data-content-box-layer data-box-title="searchVO.boxTitle">
				<div class="btn-group" id="searchBtn">
					<button type="button" class="btn btn-info" title="기본검색 탭" data-ng-click="searchVO.activeSearchBtn('BS')">기본검색</button>
					<button type="button" class="btn btn-default" title="상세검색 탭" data-ng-click="searchVO.activeSearchBtn('DS')">상세검색</button>
				</div>

				<div id="basicSearch">
					<form class="search-type1">
						<table>
							<colgroup>
								<col style="width: 8%;">
								<col style="width: 17%;">
								<col style="width: 8%;">
								<col style="width: 17%;">
								<col style="width: 8%;">
								<col style="width: 17%;">
								<col style="width: 8%;">
								<col style="width: 17%;">
							</colgroup>
							<tbody>
							<tr>
								<th rowspan="2">상위부서</th>
								<td rowspan="2">
									<div class="radio-vertical">
										<select class="form-control" title="상위부서 선택" size="6"  data-ng-model="searchVO.kind"
										        data-ng-options="code.CD as code.NAME for code in  view.code.seniorCodeList" data-ng-change="searchVO.getDeptAndResp()">
										</select>
									</div>
								</td>
								<th rowspan="2">하위부서/팀</th>
								<td rowspan="2">
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" title="하위부서 선택" size="6" multiple="multiple" data-ng-model="searchVO.departList"
											        data-ng-options="code.CD as code.NAME for code in view.code.departCodeList" data-ng-change="searchVO.getSalesUser()">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="submit" class="btn btn-default" title="하위부서 선택 초기화" data-ng-click="searchVO.initDept()">초기화</button>
										</span>
									</div>
								</td>
								<th rowspan="2">영업대표</th>
								<td rowspan="2">
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control mt-5" title="영업대표 선택" size="6" multiple="multiple" data-ng-model="searchVO.saleRepsList"
											        data-ng-options="code.CD as code.NAME for code in view.code.salesRepList">
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="영업대표선택 초기화" data-ng-click="searchVO.initSalesRep()">초기화</button>
										</span>
									</div>
								</td>
								<th>Commit</th>
								<td>
                  <input type="radio" id="commitAll" name="commitYn" value="" data-ng-model="searchVO.commitYn"><label for="commitAll">ALL</label>
                  <input type="radio" id="commitYes" name="commitYn" value="YES" data-ng-model="searchVO.commitYn"><label for="commitYes">YES</label>
                  <input type="radio" id="commitNo" name="commitYn" value="NO" data-ng-model="searchVO.commitYn"><label for="commitNo">NO</label>
								</td>
							</tr>
              <tr>
                <th></th>
                <td>
                  <div class="check-group">
										<div class="check-list-first">
											<input type="checkbox" class="form-control" id="duplicationYn" title="중복사업여부" data-ng-model="searchVO.duplicationYn">
											<label for="duplicationYn">중복사업</label>
										</div>
										<div>
											<input type="checkbox" class="form-control" id="sharedSalesYn" title="Managed 매출 여부" data-ng-model="searchVO.sharedSalesYn">
											<label for="sharedSalesYn">Managed 매출</label>
										</div>
										<div>
											<input type="checkbox" class="form-control" id="smtBilYn" title="계산서발행 여부" data-ng-model="searchVO.smtBilYn">
											<label for="smtBilYn">계산서발행 여부</label>
										</div>
									</div>
                </td>
              </tr>
							<tr data-ng-show="searchVO.isDetail">
								<th>고객사</th>
								<td>
									<input type="text" class="form-control wid-x8" title="고객사 입력" data-ng-model="searchVO.customerCompany" data-eden-type="kor">
								</td>
								<th>매출처</th>
								<td>
									<input type="text" class="form-control wid-x8" title="매출처 입력" data-ng-model="searchVO.salesCompany" data-eden-type="kor">
								</td>
								<th>사업명</th>
								<td>
									<input type="text" class="form-control wid-x9" title="사업명 입력" data-ng-model="searchVO.businessName" data-eden-type="kor">
								</td>
								<th></th>
								<td></td>
							</tr>
							<tr data-ng-show="searchVO.isDetail">
								<th>사업유형</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" size="4" multiple="multiple" id="businessKindType" title="사업유형 선택" data-ng-model="searchVO.businessTypeList">
												<option value="{{businessCodeInfo.CD}}"
												        data-ng-repeat="businessCodeInfo in view.code.businessCodeList"
												        label="{{businessCodeInfo.NAME}}">{{businessCodeInfo.NAME}}</option>
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="사업유형 초기화" data-ng-click="searchVO.initProjectType()">초기화</button>
										</span>
									</div>
								</td>
								<th>제품</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" size="4" multiple="multiple" title="제품유형 선택" data-ng-model="searchVO.productTypeList">
												<option value="{{productCodeInfo.CD}}"
												        data-ng-repeat="productCodeInfo in view.code.productCodeList"
												        label="{{productCodeInfo.NAME}}">{{productCodeInfo.NAME}}</option>
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="제품유형 초기화" data-ng-click="searchVO.initProductType()">초기화</button>
										</span>
									</div>
								</td>
								<th>Winrate</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" size="4" multiple="multiple" title="winrate 선택" data-ng-model="searchVO.winrateList">
												<option value="0">0%</option>
												<option value="25">25%</option>
												<option value="50">50%</option>
												<option value="75">75%</option>
												<option value="100">100%</option>
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="winrate 초기화" data-ng-click="searchVO.initWinRate()">초기화</button>
										</span>
									</div>
								</td>
								<th>진행상태</th>
								<td>
									<div class="frm-input-group frm-input-multi">
										<span class="frm-input-group-value">
											<select class="form-control" size="4" multiple="multiple" title="진행상태 선택" data-ng-model="searchVO.ingStateList">
												<option value="{{ingStateCodeInfo.CD}}"
												        data-ng-repeat="ingStateCodeInfo in view.code.stateCodeList"
												        label="{{ingStateCodeInfo.NAME}}">{{ingStateCodeInfo.NAME}}</option>
											</select>
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="진행상태 초기화" data-ng-click="searchVO.initIngStatus()">초기화</button>
										</span>
									</div>
								</td>
								<th></th>
								<td></td>
							</tr>
							<tr data-ng-show="searchVO.isDetail">
								<th>매출금액</th>
								<td>
									<div class="search-screen-divide">
										<div class="wid-x8">
											<select class="form-control" title="Funnel범위 선택" data-ng-model="searchVO.funnelKind"data-ng-change="searchVO.initFunnel(searchVO.funnelKind)">
												<option value="">선택</option>
												<option value="EQUAL">동등</option>
												<option value="ABOVE">이상</option>
												<option value="BELOW">이하</option>
												<option value="EXCESS">초과</option>
												<option value="UNDER">미만</option>
												<option value="SCOPE">범위</option>
											</select>
										</div>
										<div>
											<button type="button" class="btn btn-default" title="Funnel 초기화" data-ng-click="searchVO.initFunnel()">초기화</button>
										</div>
									</div>
									<div data-ng-switch on="searchVO.funnelKind">
										<div data-ng-switch-when="SCOPE" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x5" title="시작금액" data-ng-model="searchVO.funnelStartScale">
											&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;
											<input type="text" class="form-control wid-x5" title="종료금액" data-ng-model="searchVO.funnelEndScale">
										</div>
										<div data-ng-switch-when="ABOVE" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.funnelStartScale">
										</div>
										<div data-ng-switch-when="BELOW" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.funnelStartScale">
										</div>
										<div data-ng-switch-when="EXCESS" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.funnelStartScale">
										</div>
										<div data-ng-switch-when="UNDER" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.funnelStartScale">
										</div>
										<div data-ng-switch-when="EQUAL" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.funnelStartScale">
										</div>
									</div>
								</td>
								<th>Cost</th>
								<td>
									<div class="search-screen-divide">
										<div class="wid-x8">
											<select class="form-control" title="COST범위 선택" data-ng-model="searchVO.costKind" data-ng-change="searchVO.initCost(searchVO.costKind)">
												<option value="">선택</option>
												<option value="EQUAL">동등</option>
												<option value="ABOVE">이상</option>
												<option value="BELOW">이하</option>
												<option value="EXCESS">초과</option>
												<option value="UNDER">미만</option>
												<option value="SCOPE">범위</option>
											</select>
										</div>
										<div>
											<button type="button" class="btn btn-default" title="Cost 초기화" data-ng-click="searchVO.initCost()">초기화</button>
										</div>
									</div>
									<div data-ng-switch on="searchVO.costKind">
										<div data-ng-switch-when="SCOPE" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x5" title="시작금액" data-ng-model="searchVO.costStartScale">
											&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;
											<input type="text" class="form-control wid-x5" title="종료금액" data-ng-model="searchVO.costEndScale">
										</div>
										<div data-ng-switch-when="ABOVE" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.costStartScale">
										</div>
										<div data-ng-switch-when="BELOW" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.costStartScale">
										</div>
										<div data-ng-switch-when="EXCESS" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.costStartScale">
										</div>
										<div data-ng-switch-when="UNDER" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.costStartScale">
										</div>
										<div data-ng-switch-when="EQUAL" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.costStartScale">
										</div>
									</div>
								</td>
								<th>Margin</th>
								<td>
									<div class="search-screen-divide">
										<div class="wid-x8">
											<select class="form-control" title="Margin범위 선택" data-ng-model="searchVO.marginKind" data-ng-change="searchVO.initMargin(searchVO.marginKind)">
												<option value="">선택</option>
												<option value="EQUAL">동등</option>
												<option value="ABOVE">이상</option>
												<option value="BELOW">이하</option>
												<option value="EXCESS">초과</option>
												<option value="UNDER">미만</option>
												<option value="SCOPE">범위</option>
											</select>
										</div>
										<div>
											<button type="button" class="btn btn-default" title="Margin 초기화" data-ng-click="searchVO.initMargin()">초기화</button>
										</div>
									</div>
									<div data-ng-switch on="searchVO.marginKind">
										<div data-ng-switch-when="SCOPE" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x5" title="시작금액" data-ng-model="searchVO.marginStartScale">
											&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;
											<input type="text" class="form-control wid-x5" title="종료금액" data-ng-model="searchVO.marginEndScale">
										</div>
										<div data-ng-switch-when="ABOVE" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.marginStartScale">
										</div>
										<div data-ng-switch-when="BELOW" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.marginStartScale">
										</div>
										<div data-ng-switch-when="EXCESS" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.marginStartScale">
										</div>
										<div data-ng-switch-when="UNDER" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.marginStartScale">
										</div>
										<div data-ng-switch-when="EQUAL" style="margin-top: 4px;">
											<input type="text" class="form-control wid-x8" title="금액" data-ng-model="searchVO.marginStartScale">
										</div>
									</div>
								</td>
								<th></th>
								<td></td>
							</tr>
							<tr>
								<th>기간</th>
								<td colspan="7">
									<div class="business-period-search">
										<select class="form-control wid-x1" title="기간종류 선택" data-ng-model="searchVO.periodKind">
											<option value="ORDER">수주기간</option>
											<option value="SALES">매출기간</option>
											<option value="COLLECT">수금기간</option>
										</select>
										<div data-inline-period-search data-ng-model="searchVO.period"></div>
									</div>
								</td>
							</tr>
							</tbody>
						</table>

						<div class="btn-group1 mt-20">
							<button type="submit" class="btn btn-primary" title="기본검색" data-ng-click="searchVO.doInquiry()">검색</button>
							<button type="button" class="btn btn-danger" title="기본검색 초기화" data-ng-click="searchVO.init()">초기화</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>

	<div class="row">
        <div class="content-area-container col-xs-12">
            <div data-content-box-layer data-box-title="view.boxTitle">
                <ul class="tab-type2">
                    <li data-ng-class="{'active': tabInfo.active}" data-ng-repeat="tabInfo in tabVO.tabList">
                        <a href="#" data-ng-click="tabVO.click($event, tabInfo.name)">{{tabInfo.title}}</a>
                    </li>
                </ul>

                <!-- 수주관리 -->
                <div id="orderContent" style="display: none;">
                    <div class="box-content-total">
                        <table class="sumary-tbl">
                            <thead>
                            <th class="first">Funnel 합계</th>
                            <th>Forecast 합계</th>
                            <th>Commit 합계</th>
                            <th>Cost 합계</th>
                            <th>Margin 합계</th>
                            <th class="last">평균 MarginRate</th>
                            </thead>

                            <tbody>
                            <tr>
                                <td>{{orderVO.total.tFunnel | number}}원</td>
                                <td>{{orderVO.total.tForecast | number}}원</td>
                                <td>{{orderVO.total.tCommit | number}}원</td>
                                <td>{{orderVO.total.tCost | number}}원</td>
                                <td>{{orderVO.total.tMargin | number}}원</td>
                                <td>{{orderVO.total.tMarginRate | mathFloor:'%'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

					<div class="box-content-article">
						<div class="article-header">
							<div class="col-xs-6 article-header-box">
								<div class="info">Total : <span class="total-count">{{orderVO.gridOptions.data.length}}</span> 건</div>
							</div>
							<div class="col-xs-6 article-header-box ta-r grid-export">
								<button data-ng-if="page.isWriteable()" type="button" class="btn btn-edit" title="사업등록" data-ng-click="orderVO.moveInsertPage()"><i class="fa fa-pencil-square-o"></i> 등록</button>
                                <button type="button" class="btn btn-download" title="Excel다운로드" data-ng-click="orderVO.downloadExcel()"><i class="fa fa-download"></i> Excel다운로드</button>
								<button type="button" class="btn btn-setting" title="Field설정" data-ng-click="orderVO.modalSetField()"><i class="fa fa-cog"></i> Column설정</button>
                            </div>
						</div>

						<div data-ui-grid="orderVO.gridOptions" class="article-view grid" style="height: 400px;"
							 ui-grid-auto-resize
							 ui-grid-expandable
							 ui-grid-resize-columns external-scopes="orderVO"></div>
					</div>
                </div>
                <!--/ 수주관리 END -->

                <!-- 매출관리 -->
                <div id="salesContent">
                    <div class="box-content-total">
                        <table class="sumary-tbl">
                            <thead>
                            <th class="first">Funnel 합계</th>
                            <th>Forecast 합계</th>
                            <th>Commit 합계</th>
                            <th>계산서발행 합계</th>
                            <th>Cost 합계</th>
                            <th>Margin 합계</th>
                            <th class="last">평균 MarginRate</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{salesVO.total.tFunnel | number}}원</td>
                                <td>{{salesVO.total.tForecast | number}}원</td>
                                <td>{{salesVO.total.tCommit | number}}원</td>
	                            <td>{{salesVO.total.tBill | number}}원</td>
                                <td>{{salesVO.total.tCost | number}}원</td>
                                <td>{{salesVO.total.tMargin | number}}원</td>
                                <td>{{salesVO.total.tMarginRate | mathFloor:'%'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

					<div class="box-content-article">
						<div class="article-header">
							<div class="col-xs-6 article-header-box">
								<div class="info">Total : <span class="total-count">{{salesVO.gridOptions.data.length}}</span> 건</div>
							</div>
							<div class="col-xs-6 article-header-box ta-r grid-export">
								<button data-ng-if="page.isWriteable()" type="button" class="btn btn-edit" title="사업등록" data-ng-click="salesVO.moveInsertPage()"><i class="fa fa-pencil-square-o"></i> 등록</button>
                                <button type="button" class="btn btn-download" title="Excel다운로드" data-ng-click="salesVO.downloadExcel()"><i class="fa fa-download"></i> Excel다운로드</button>
								<button type="button" class="btn btn-setting" title="Field설정" data-ng-click="salesVO.modalSetField()"><i class="fa fa-cog"></i> Column설정</button>
                            </div>
						</div>

						<div data-ui-grid="salesVO.gridOptions" class="article-view grid" style="height: 400px;"
                             ui-grid-auto-resize
                             ui-grid-resize-columns external-scopes="salesVO"></div>
					</div>
                </div>
                <!--/ 매출관리 END -->
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="expandableRow.tpl.html">
	<div ui-grid="row.entity.subGridOptions" style="height:150px;"></div>
</script>
