<div id="app-content" class="col-xs-12 col-sm-10">
	<div class="row">
		<div id="app-content-header">
			<ol class="breadcrumb">
				<li><a href="#dashboard"><i class="fa fa-home fa-2x"></i></a></li>
				<li><a href="#business/list">사업관리</a></li>
			</ol>
		</div>
	</div>

	<!-- 수주정보 START -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div class="box">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-pencil-square-o fa-2x"></i>
						<span>수주정보</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="box-content">
					<div data-ng-if="view.kind!='insert'">
						<div class="util-btn-group">
							<div class="util-right-group">
								<button type="button" data-ng-if="page.isWriteable() && page.isSalesWorkGroup()" class="btn copy-btn" title="복사" data-ng-click="view.doCopy()">Copy</button>
							</div>
						</div>
					</div>
					<div class="box-sub-content">
						<div>
							<h3 class="sub-title"><i class="fa fa-tag"></i> 주사업자</h3>
						</div>
						<div class="form-type1">
							<table>
								<colgroup>
									<col style="width: 10%" />
									<col style="width: 23%" />
									<col style="width: 10%" />
									<col style="width: 23%" />
									<col style="width: 10%" />
									<col style="width: 24%" />
								</colgroup>
								<tbody>
								<tr>
									<th class="ta-c">부서</th>
									<td>{{orderVO.ownerInfo.DEPT_NAME}}</td>
									<th class="ta-c">직급</th>
									<td>{{orderVO.ownerInfo.POS_NAME}}</td>
									<th class="ta-c">작성자</th>
									<td>{{orderVO.ownerInfo.NAME}}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="box-sub-content">
						<div>
							<h3 class="sub-title"><i class="fa fa-tag"></i> 수주정보</h3>
						</div>
						<div class="form-type1">
							<table>
								<colgroup>
									<col style="width: 12%" />
									<col style="width: 38%" />
									<col style="width: 12%" />
									<col style="width: 38%" />
								</colgroup>
								<tbody>
								<tr>
									<th><span class="form-required">* </span>사업유형</th>
									<td>
										<span data-ng-if="!view.disabled.order">
											<select class="form-control wid-x6" id="businessType" name="businessType" title="사업유형 선택" data-ng-model="orderVO.TYPE_CD">
												<option value="">선택</option>
												<option data-ng-repeat="businessCode in view.code.businessCodeList"
												        data-ng-selected="businessCode.CD == orderVO.TYPE_CD"
												        value="{{businessCode.CD}}">{{businessCode.NAME}}</option>
											</select>
										</span>
										<span data-ng-if="view.disabled.order">{{orderVO.TYPE_NAME}}</span>
									</td>
									<th><span class="form-required">* </span>사업명</th>
									<td>
										<span data-ng-if="!view.disabled.order">
											<input type="text" class="form-control" id="projectName" name="projectName" title="사업명 입력"
											       maxlength="254"
											       data-ng-model="orderVO.PROJECT_NAME" data-eden-type="kor">

										</span>
										<span data-ng-if="view.disabled.order">{{orderVO.PROJECT_NAME}}</span>
									</td>
								</tr>
								<tr>
									<th><span class="form-required">* </span>고객사명</th>
									<td class="wid-10">
										<div data-ng-if="!view.disabled.order" class="frm-input-group">
											<span class="frm-input-group-value">
												<input type="text" class="form-control" title="고객사명 입력" data-ng-model="orderVO.CUSTOMER_NAME" disabled="disabled" />
											</span>
											<span class="frm-input-group-btn">
												<button type="button" class="btn btn-default" id="searchCustomerCompanyBtn" title="고객사명 검색 팝업" data-ng-click="orderVO.modalSearchCustomerCompany()">검색</button>
											</span>
										</div>
										<div data-ng-if="view.disabled.order">{{orderVO.CUSTOMER_NAME}}</div>
									</td>
									<th><span class="form-required">* </span>매출처명</th>
									<td>
										<div data-ng-if="!view.disabled.order" class="frm-input-group">
											<span class="frm-input-group-value">
												<input type="text" class="form-control" title="매출처명 입력" data-ng-model="orderVO.SALES_NAME" disabled="disabled" />
											</span>
											<span class="frm-input-group-btn">
												<button type="button" class="btn btn-default" id="searchSalesCompanyBtn" title="매출처명 검색 팝업" data-ng-click="orderVO.modalSearchSalesCompany()">검색</button>
											</span>
										</div>
										<div data-ng-if="view.disabled.order">{{orderVO.SALES_NAME}}</div>
									</td>
								</tr>
								<tr>
									<th>부영업대표</th>
									<td>
										<div data-ng-if="!view.disabled.order" class="frm-input-group">
											<span class="frm-input-group-value">
												<input type="text" class="form-control" title="부영업대표 입력" data-ng-model="orderVO.SUB_EMP_NAME" disabled="disabled" />
											</span>
											<span class="frm-input-group-btn">
												<button type="button" class="btn btn-default" title="부영업대표 검색 팝업" data-ng-click="orderVO.modalSearchSubSalseRep()">검색</button>
											</span>
											<span class="frm-input-group-btn">
												<button type="button" class="btn btn-default" title="부영업대표 초기화" data-ng-click="orderVO.initSubSalesRep()">초기화</button>
											</span>
										</div>
										<div data-ng-if="view.disabled.order">{{orderVO.SUB_EMP_NAME}}</div>
									</td>
									<th>Managed 매출</th>
									<td>
										<div data-ng-if="!view.disabled.order" class="frm-input-group">
											<span class="frm-input-group-value">
												<input type="text" class="form-control" title="컨설턴트 입력" data-ng-model="orderVO.NM_CST_EMP" disabled="disabled" />
											</span>
											<span class="frm-input-group-btn">
												<button type="button" class="btn btn-default" title="컨설턴트 검색 팝업" data-ng-click="orderVO.modalSearchConsultant()">검색</button>
											</span>
											<span class="frm-input-group-btn">
												<button type="button" class="btn btn-default" title="컨설턴트 초기화" data-ng-click="orderVO.initConsultant()">초기화</button>
											</span>
										</div>
										<div data-ng-if="view.disabled.order">
											<span>{{orderVO.NM_CST_EMP}}</span>
										</div>
									</td>
								</tr>
								<tr data-ng-show="view.disabled.subOk && view.bUseSmrBill">
									<th><span class="form-required">* </span>매출 비율</th>
									<td>
										<div data-ng-if="!view.disabled.order" class="frm-input-group">
											주 : <input type="text" class="form-control wid-x1 ta-r" id="ptOwnDistSales" maxlength="3" name="ptOwnDistSales" title="매출 주 비율"
											       maxlength="40"
											       data-ng-model="orderVO.PT_OWN_DIST_SALES" data-eden-type="number" data-ng-change="orderVO.setSubDistSales()">% / 
											부 : <input type="text" class="form-control wid-x1 ta-r" id="ptSubDistSales" maxlength="3" name="ptSubDistSales" title="매출 부 비율"
											       maxlength="40"
											       data-ng-model="orderVO.PT_SUB_DIST_SALES" data-eden-type="number" data-ng-change="orderVO.setOwnDistSales()">%
										</div>
										<div data-ng-if="view.disabled.order">
											주 : <span>{{orderVO.PT_OWN_DIST_SALES}}</span>% / 
											부 : <span>{{orderVO.PT_SUB_DIST_SALES}}</span>%
										</div>
									</td>
									<th><span class="form-required">* </span>매입 비율</th>
									<td>
										<div data-ng-if="!view.disabled.order" class="frm-input-group">
											주 : <input type="text" class="form-control wid-x1 ta-r" id="ptOwnDistPurc" maxlength="3" name="ptOwnDistPurc" title="매입 주 비율"
											       maxlength="40"
											       data-ng-model="orderVO.PT_OWN_DIST_PURC" data-eden-type="number" data-ng-change="orderVO.setSubDistPurc()">% / 
											부 : <input type="text" class="form-control wid-x1 ta-r" id="ptSubDistPurc" maxlength="3" name="ptSubDistPurc" title="매입 부 비율"
											       maxlength="40"
											       data-ng-model="orderVO.PT_SUB_DIST_PURC" data-eden-type="number" data-ng-change="orderVO.setOwnDistPurc()">%
										</div>
										<div data-ng-if="view.disabled.order">
											주 : <span>{{orderVO.PT_OWN_DIST_PURC}}</span>% / 
											부 : <span>{{orderVO.PT_SUB_DIST_PURC}}</span>%
										</div>
									</td>
								</tr>
								<tr>
									<th><span class="form-required">* </span>수주년월</th>
									<td>
										<span data-ng-if="!view.disabled.order">
											<select id="orderYear" class="form-control wid-x3" title="수주년 선택" data-ng-options="year+'년' for year in basicYearList track by year" data-ng-model="orderVO.orderYear">
											</select>
											<select class="form-control wid-x2" id="orderMonth" title="수주월 선택" data-ng-model="orderVO.orderMonth">
												<option value="01">01월</option>
												<option value="02">02월</option>
												<option value="03">03월</option>
												<option value="04">04월</option>
												<option value="05">05월</option>
												<option value="06">06월</option>
												<option value="07">07월</option>
												<option value="08">08월</option>
												<option value="09">09월</option>
												<option value="10">10월</option>
												<option value="11">11월</option>
												<option value="12">12월</option>
											</select>
										</span>
										<span data-ng-if="view.disabled.order">{{orderVO.orderYear}}년 {{orderVO.orderMonth}}월</span>
									</td>
									<th>계약기간</th>
									<td>
										<span data-ng-if="!view.disabled.order">
											<input type="checkbox" title="계약기간 선택" data-ng-model="orderVO.contractDateChecked">
											<select id="contractStartYear" class="form-control wid-x3" title="계약시작년 선택" data-ng-options="year+'년' for year in basicYearList track by year" data-ng-model="orderVO.contractStartYear"
											        data-ng-disabled="!orderVO.contractDateChecked">
											</select>
											<select class="form-control wid-x2" id="contractStartMonth" data-ng-model="orderVO.contractStartMonth" data-ng-disabled="!orderVO.contractDateChecked">
												<option value="01">01월</option>
												<option value="02">02월</option>
												<option value="03">03월</option>
												<option value="04">04월</option>
												<option value="05">05월</option>
												<option value="06">06월</option>
												<option value="07">07월</option>
												<option value="08">08월</option>
												<option value="09">09월</option>
												<option value="10">10월</option>
												<option value="11">11월</option>
												<option value="12">12월</option>
											</select>
											&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;
											<select id="contractEndYear" class="form-control wid-x3" title="계약종료년 선택" data-ng-options="year+'년' for year in basicYearList track by year" data-ng-model="orderVO.contractEndYear"
											        data-ng-disabled="!orderVO.contractDateChecked">
											</select>
											<select class="form-control wid-x2" id="contractEndMonth" data-ng-model="orderVO.contractEndMonth" data-ng-disabled="!orderVO.contractDateChecked">
												<option value="01">01월</option>
												<option value="02">02월</option>
												<option value="03">03월</option>
												<option value="04">04월</option>
												<option value="05">05월</option>
												<option value="06">06월</option>
												<option value="07">07월</option>
												<option value="08">08월</option>
												<option value="09">09월</option>
												<option value="10">10월</option>
												<option value="11">11월</option>
												<option value="12">12월</option>
											</select>
										</span>
										<span data-ng-if="view.disabled.order">{{orderVO.contractStartYear}}년 {{orderVO.contractStartMonth}}월 ~ {{orderVO.contractEndYear}}년 {{orderVO.contractEndMonth}}월</span>
									</td>
								</tr>
								<tr>
									<th><span class="form-required">* </span>WinRate</th>
									<td>
										<span data-ng-if="!view.disabled.order">
											<select class="form-control wid-x4" title="WINRATE 선택"
											        data-ng-model="orderVO.WINRATE" data-ng-change="orderVO.changeWinRate()">
												<option value="0">0%</option>
												<option value="25">25%</option>
												<option value="50">50%</option>
												<option value="75">75%</option>
												<option value="100">100%</option>
											</select>
											&nbsp;&nbsp;&nbsp;
											<label for="">수주Commit</label>
											<input type="checkbox" title="수주COMMIT"
											       data-ng-true-value="YES"
											       data-ng-false-value="NO"
											       data-ng-model="orderVO.COMMIT_STATUS"
											       data-ng-change="orderVO.getTotalSumary()"
											       data-ng-disabled="orderVO.WINRATE<50 || orderVO.WINRATE>75">
										</span>
										<span data-ng-if="view.disabled.order">{{orderVO.WINRATE}} % / 수주COMMIT '{{orderVO.COMMIT_STATUS}}'</span>
									</td>
									<th><span class="form-required">* </span><label for="ingState">진행상태</label></th>
									<td>
										<span data-ng-if="!view.disabled.order">
											<select id="ingState" class="form-control wid-x4" title="진행상태 선택" data-ng-options="state.CD as state.NAME for state in view.code.stateCodeList" data-ng-model="orderVO.STATUS"
											        data-ng-change="orderVO.changeIngState()">
											</select>
										</span>
										<span data-ng-if="view.disabled.order">{{orderVO.STATUS_NAME}}</span>
									</td>
								</tr>
								<tr>
									<th>Funnel 금액</th>
									<td>
										<span>{{orderVO.PROJECT_SCALE | number}} 원</span>
									</td>
									<th><label for="">Forecast금액</label></th>
									<td>
										<span>{{orderVO.sumaryInfo.forecast  | number}} 원</span>
									</td>
								</tr>
								<tr>
									<th><span class="form-required">* </span>주요제품</th>
									<td colspan="3">
										<span data-ng-if="!view.disabled.order">
											<input type="text" class="form-control" id="majorProduct" name="majorProduct" title="주요제품입력"
											       maxlength="100"
											       data-ng-model="orderVO.MAJOR" data-eden-type="kor">
										</span>
										<span data-ng-if="view.disabled.order">{{orderVO.MAJOR}}</span>
									</td>
								</tr>
								<tr>
									<th><span class="form-required">* </span>제품</th>
									<td colspan="3">
										<div data-ng-if="!view.disabled.order" class="product-wrap">
											<div class="product-btn-wrap">
												<button type="button" class="btn btn-primary" id="addProudctBtn" title="제품 ROW 추가" data-ng-click="orderVO.addProductRow()">+ 추가</button>
													<span class="product-inline-btn" data-ng-show="orderVO.product.productList.length > 0">
														<button type="button" class="btn btn-danger" title="제품 ROW 삭제" data-ng-click="orderVO.deleteProductRow()">- 삭제</button>
													</span>
											</div>
										</div>
										<table class="table table-condensed" summary="제품유형, 매출금액, 매입금액, 매입처, 제조사 순서로 구성된 테이블입니다.">
											<colgroup>
												<col style="width:20px;">
												<col>
												<col span="2" style="width:20%">
												<col span="2" style="width:22%">
											</colgroup>
											<thead>
											<tr>
												<th scope="col" class="ta-c">#</th>
												<th scope="col" class="ta-c">제품유형</th>
												<th scope="col" class="ta-c">매출금액</th>
												<th scope="col" class="ta-c">매입금액</th>
												<th scope="col" class="ta-c">매입처</th>
												<th scope="col" class="ta-c">벤더사</th>
											</tr>
											</thead>
											<tbody>
											<tr data-ng-if="orderVO.product.productList.length == 0">
												<td colspan="6" class="ta-c">등록된 정보가 없습니다.</td>
											</tr>
											<tr data-ng-repeat="part in orderVO.product.productList">
												<td class="va-m">
													<span data-ng-if="!view.disabled.order"><input type="checkbox" title="제품선택" data-ng-model="part.checked"></span>
												</td>
												<td class="ta-c">
													<span data-ng-if="!view.disabled.order">
														<select class="form-control" title="제품유형 선택" data-ng-options="product.CD as product.NAME for product in view.code.productCodeList" data-ng-model="part.PRODUCT_TYPE_CD"
														        data-ng-change="orderVO.changePrdouctType($index)">
														</select>
													</span>
													<span data-ng-if="view.disabled.order">{{part.PRODUCT_TYPE_NAME}}</span>
												</td>
												<td>
													<span data-ng-if="!view.disabled.order">
														<input type="text" class="form-control ta-r" title="매출금액 입력" maxlength="14" placeholder="매출금액" data-ng-disabled="part.disabled" data-ng-model="part.SALES" data-eden-type="number" data-ng-change="orderVO.getTotalSumary()">
													</span>
													<span data-ng-if="view.disabled.order">{{part.SALES|number}} 원</span>
												</td>
												<td>
													<span data-ng-if="!view.disabled.order">
														<input type="text" class="form-control ta-r" title="매입금액 입력" maxlength="14" placeholder="매입금액" data-ng-disabled="part.disabled" data-ng-model="part.BUY" data-eden-type="number" data-ng-change="orderVO.getTotalSumary()">
													</span>
													<span data-ng-if="view.disabled.order">{{part.BUY|number}} 원</span>
												</td>
												<td class="ta-c">
													<span data-ng-if="!view.disabled.order" class="frm-input-group">
														<span class="frm-input-group-value">
															<input type="text" class="form-control" title="매입처"  placeholder="매입처" disabled data-ng-model="part.CUST_NAME">
														</span>
														<span class="frm-input-group-btn">
															<button type="button" class="btn btn-default" title="매입처 검색" data-ng-disabled="part.disabled" data-ng-click="part.searchPurchaseCompany()">검색</button>
														</span>
													</span>
													<span data-ng-if="view.disabled.order">{{part.CUST_NAME}}</span>
												</td>
												<td class="ta-c">
													<span data-ng-if="!view.disabled.order">
														<select class="form-control" title="제조사 선택" data-ng-options="vendor.CD as vendor.NAME for vendor in view.code.vendorCodeList" data-ng-model="part.CD_VED_C"
														        data-ng-disabled="part.disabled">
														</select>
													</span>
													<span data-ng-if="view.disabled.order">{{part.NM_VED_C}}</span>
												</td>
											</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<th>요약</th>
									<td colspan="5">
										<div class="div-tbl-type1">
											<div class="div-thead">
												<div class="div-row">
													<div class="div-cell bg" style="width: 17%;"><div class="div-cell-content">Funnel</div></div>
													<div class="div-cell bg" style="width: 17%;"><div class="div-cell-content">Forecast</div></div>
													<div class="div-cell bg" style="width: 17%;"><div class="div-cell-content">Commit</div></div>
													<div class="div-cell bg" style="width: 16%;"><div class="div-cell-content">Cost</div></div>
													<div class="div-cell bg" style="width: 17%;"><div class="div-cell-content">Margin</div></div>
													<div class="div-cell bg" style="width: 16%;"><div class="div-cell-content">Margin Rate</div></div>
												</div>
											</div>
											<div class="div-tbody">
												<div class="div-row">
													<div class="div-cell" style="width: 17%;"><div class="div-cell-content"><span>{{orderVO.sumaryInfo.funnel | number}}</span> 원</div></div>
													<div class="div-cell" style="width: 17%;"><div class="div-cell-content"><span>{{orderVO.sumaryInfo.forecast | number}}</span> 원</div></div>
													<div class="div-cell" style="width: 17%;"><div class="div-cell-content"><span>{{orderVO.sumaryInfo.commit | number}}</span> 원</div></div>
													<div class="div-cell" style="width: 16%;"><div class="div-cell-content"><span>{{orderVO.sumaryInfo.cost | number}}</span> 원</div></div>
													<div class="div-cell" style="width: 17%;"><div class="div-cell-content"><span>{{orderVO.sumaryInfo.margin | number}}</span> 원</div></div>
													<div class="div-cell" style="width: 16%;"><div class="div-cell-content"><span>{{orderVO.sumaryInfo.marginRate}}</span> %</div></div>
												</div>
											</div>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ 수주정보 END -->

	<!-- 매출정보 START -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div class="box">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-pencil-square-o fa-2x"></i>
						<span>매출정보</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="box-content">
					<div class="box-sub-content">
						<div data-ng-if="!view.disabled.order" class="product-wrap">
							<div class="product-btn-wrap">
								<button type="button" class="btn btn-primary" id="addScheduleBtn" title="매출일정 ROW 추가" data-ng-click="salesVO.addScheduleRow()">+ 추가</button>
								<span class="product-inline-btn" data-ng-show="salesVO.sales.scheduleList.length > 0">
									<button type="button" class="btn btn-danger" title="매출일정 ROW 삭제"
									        data-ng-click="salesVO.deleteScheduleRow()">- 삭제</button>
								</span>
								<span class="product-inline-btn" data-ng-show="salesVO.sales.scheduleList.length > 0">
									<button type="button" class="btn btn-danger" title="매출일정 ROW 전체 삭제"
									        data-ng-click="salesVO.deleteAllScheduleRow()"><i class="fa fa-eraser"></i> 전체삭제</button>
								</span>
								<div id="business-compare-price">
									<div>
										<span class="rest-title green">잔여 매출금액 </span>
										<span class="rest-value">{{salesVO.restSales | number}} 원</span>
									</div>
									<div>
										<span class="rest-title red">잔여 매입금액 </span>
										<span class="rest-value">{{salesVO.restCost | number}} 원</span>
									</div>
								</div>
							</div>
						</div>
						<table class="table table-condensed" summary="매출년, 매출월, 매출금액, 매입금액, 매입처, 수금년, 수금월, 수금상태의 매출정보 테이블입니다.">
							<colgroup>
								<col style="width:20px;">
								<col span="2" style="width:9%">
								<col span="3" style="width:14%">
								<col span="3" style="width:9%">
								<col>
							</colgroup>
							<thead>
							<tr>
								<th scope="col" class="ta-c">#</th>
								<th scope="col" class="ta-c">매출년</th>
								<th scope="col" class="ta-c">매출월</th>
								<th scope="col" class="ta-c">매출금액</th>
								<th scope="col" class="ta-c">매입금액</th>
								<th scope="col" class="ta-c">매입처</th>
								<th scope="col" class="ta-c">수금년</th>
								<th scope="col" class="ta-c">수금월</th>
								<th scope="col" class="ta-c">수금상태</th>
								<th scope="col" class="ta-c">계산서발행</th>
							</tr>
							</thead>
							<tbody>
							<tr data-ng-if="salesVO.sales.scheduleList.length==0">
								<td colspan="9">등록된 정보가 없습니다.</td>
							</tr>
							<tr data-ng-repeat="saleSchedule in salesVO.sales.scheduleList track by $index">
								<td class="va-m">
									<span data-ng-if="!view.disabled.order && saleSchedule.CD_SMR_BIL!='YES'">
										<input type="checkbox" title="매출일정 선택" data-ng-model="saleSchedule.checked">
									</span>
								</td>
								<td class="ta-c">
									<span data-ng-if="!view.disabled.order && saleSchedule.CD_SMR_BIL!='YES'">
										<select class="form-control" title="매출년 선택" data-ng-options="year+'년' for year in basicYearList track by year" data-ng-model="saleSchedule.salesYear">
											<option value="">매출년</option>
										</select>
									</span>
									<span data-ng-if="view.disabled.order || saleSchedule.CD_SMR_BIL=='YES' || saleSchedule.CD_SMR_BIL=='발행완료'">{{saleSchedule.salesYear}}년</span>
								</td>
								<td class="ta-c">
									<span data-ng-if="!view.disabled.order && saleSchedule.CD_SMR_BIL!='YES'">
										<select class="form-control" title="매출월 선택" data-ng-model="saleSchedule.salesMonth">
											<option value="">매출월</option>
											<option value="01">01월</option>
											<option value="02">02월</option>
											<option value="03">03월</option>
											<option value="04">04월</option>
											<option value="05">05월</option>
											<option value="06">06월</option>
											<option value="07">07월</option>
											<option value="08">08월</option>
											<option value="09">09월</option>
											<option value="10">10월</option>
											<option value="11">11월</option>
											<option value="12">12월</option>
										</select>
									</span>
									<span data-ng-if="view.disabled.order || saleSchedule.CD_SMR_BIL=='YES' || saleSchedule.CD_SMR_BIL=='발행완료'">{{saleSchedule.salesMonth}}월</span>
								</td>
								<td>
									<span data-ng-if="!view.disabled.order && saleSchedule.CD_SMR_BIL!='YES'">
										<input type="text" class="form-control ta-r" title="매출금액 입력" placeholder="매출금액"
										       data-ng-model="saleSchedule.SALES" maxlength="14" data-eden-type="number" data-ng-change="salesVO.getRestSales()">
									</span>
									<span data-ng-if="view.disabled.order || saleSchedule.CD_SMR_BIL==='YES' || saleSchedule.CD_SMR_BIL==='발행완료'">{{saleSchedule.SALES|number}}</span>
								</td>
								<td>
									<span data-ng-if="!view.disabled.order && saleSchedule.CD_SMR_BIL!='YES'">
										<input type="text" class="form-control ta-r" title="매입금액 입력" placeholder="매입금액"
										       data-ng-model="saleSchedule.BUY" maxlength="14" data-eden-type="number" data-ng-change="salesVO.getRestCost()">
									</span>
									<span data-ng-if="view.disabled.order || saleSchedule.CD_SMR_BIL==='YES' || saleSchedule.CD_SMR_BIL==='발행완료'">{{saleSchedule.BUY|number}}</span>
								</td>
								<td class="ta-c">
									<span data-ng-if="!view.disabled.order && saleSchedule.CD_SMR_BIL!='YES'" class="frm-input-group">
										<span class="frm-input-group-value">
											<input type="text" class="form-control" title="매입처"  placeholder="매입처" disabled data-ng-model="saleSchedule.CUST_NAME">
										</span>
										<span class="frm-input-group-btn">
											<button type="button" class="btn btn-default" title="매입처 검색" data-ng-click="saleSchedule.searchPurchaseCompany()">검색</button>
										</span>
									</span>
									<span data-ng-if="view.disabled.order || saleSchedule.CD_SMR_BIL=='YES' || saleSchedule.CD_SMR_BIL=='발행완료'">{{saleSchedule.CUST_NAME}}</span>
								</td>
								<td class="ta-c">
									<span data-ng-if="!view.disabled.sales">
										<select class="form-control" title="수금년 선택" data-ng-options="year+'년' for year in basicYearList track by year" data-ng-model="saleSchedule.collectYear">
											<option value="">수금년</option>
										</select>
									</span>
									<span data-ng-if="view.disabled.sales && saleSchedule.collectYear">{{saleSchedule.collectYear}}년</span>
								</td>
								<td class="ta-c">
									<span data-ng-if="!view.disabled.sales">
										<select class="form-control" title="수금월 선택" data-ng-model="saleSchedule.collectMonth">
											<option value="">수금월</option>
											<option value="01">01월</option>
											<option value="02">02월</option>
											<option value="03">03월</option>
											<option value="04">04월</option>
											<option value="05">05월</option>
											<option value="06">06월</option>
											<option value="07">07월</option>
											<option value="08">08월</option>
											<option value="09">09월</option>
											<option value="10">10월</option>
											<option value="11">11월</option>
											<option value="12">12월</option>
										</select>
									</span>
									<span data-ng-if="view.disabled.sales && saleSchedule.collectMonth">{{saleSchedule.collectMonth}}월</span>
								</td>
								<td class="ta-c">
									<span data-ng-if="!view.disabled.sales">
										<select class="form-control" title="수금상태 선택" data-ng-options="status.CD as status.NAME for status in view.code.collectCodeList" data-ng-model="saleSchedule.COLLECT_STATUS">
										</select>
									</span>
									<span data-ng-if="view.disabled.sales">{{saleSchedule.COLLECT_STATUS_NAME}}</span>
								</td>
								<td>
									<span>
										<select class="form-control" title="계산서발행 여부" data-ng-disabled="!view.bUseSmrBill" data-ng-model="saleSchedule.CD_SMR_BIL" data-ng-change="salesVO.setCalChange(saleSchedule)">
											<option value="NO">발행예정</option>
											<option value="YES">발행완료</option>
										</select>
									</span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ 매출정보 END -->

	<!-- 파일정보 START -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div class="box">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-pencil-square-o fa-2x"></i>
						<span>파일정보</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="box-content">
					<div class="file-upload">
						<div data-ng-if="!view.disabled.file" class="file-ins-input">
							<input type="file" nv-file-select uploader="fileVO.uploader">
						</div>
						<div data-ng-if="view.kind!='insert' || view.disabled.file" data-ng-class="{'col-xs-12': view.disabled.file, 'col-xs-6': !view.disabled.file}" class="mt-20">
							<div>
								<div>
									<h4 class="file-upload-subtitle"><i class="fa fa-toggle-right fa-lg"></i> 등록된 Files</h4>
									<table class="table table-condensed mt-20">
										<colgroup>
											<col>
											<col style="width: 15%;">
											<col style="width: 25%;">
											<col data-ng-hide="view.disabled.file" style="width: 15%;">
										</colgroup>
										<thead>
										<tr>
											<th>Name</th>
											<th>Size(Byte)</th>
											<th>Date</th>
											<th data-ng-hide="view.disabled.file">Action</th>
										</tr>
										</thead>
										<tbody>
										<tr data-ng-repeat="fileInfo in fileVO.currentFileList">
											<td><a href="{{fileVO.url}}?order={{fileInfo.ORDER_CD}}&file={{fileInfo.UNIQ_CD}}" download="{{fileInfo.FILE_NAME}}">{{fileInfo.FILE_NAME}}</a></td>
											<td>{{fileInfo.FILE_SIZE | number}}</td>
											<td>{{fileInfo.UPDATE_DT}}</td>
											<td data-ng-hide="view.disabled.file">
												<button type="button" class="btn btn-danger btn-xs" data-ng-click="fileVO.addDeleteFileList($index)">
													<span class="glyphicon glyphicon-trash"></span> Remove
												</button>
											</td>
										</tr>
										<tr data-ng-if="fileVO.currentFileList.length==0">
											<td colspan="4"><span class="tbl-message">등록된 파일이 없습니다.</span></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div data-ng-if="!view.disabled.file" data-ng-class="{'col-xs-12': view.kind=='insert', 'col-xs-6': view.kind!='insert'}" class="mt-20">
							<div>
								<h4 class="file-upload-subtitle"><i class="fa fa-toggle-right fa-lg"></i> 추가된 Files</h4>
								<table class="table table-condensed mt-20">
									<colgroup>
										<col style="width: 45%;">
										<col style="width: 15%;">
										<col style="width: 25%;">
										<col style="width: 15%;">
									</colgroup>
									<thead>
									<tr>
										<th>Name</th>
										<th>Size(Byte)</th>
										<th>Date</th>
										<th>Action</th>
									</tr>
									</thead>
									<tbody>
									<tr data-ng-repeat="item in fileVO.uploader.queue">
										<td>{{item.file.name}}</td>
										<td>{{item.file.size|number}}</td>
										<td></td>
										<td>
											<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
												<span class="glyphicon glyphicon-trash"></span> Remove
											</button>
										</td>
									</tr>
									<tr data-ng-if="fileVO.uploader.queue.length==0">
										<td colspan="5"><span class="tbl-message">추가된 파일이 없습니다.</span></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ 파일정보 END -->

	<!-- 영업활동 및 진행상태 START -->
	<div class="row">
		<div class="content-area-container col-xs-12">
			<div class="box">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-pencil-square-o fa-2x"></i>
						<span>영업활동 및 진행상태</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="box-content">
					<div data-ng-if="!view.disabled.sales" class="order-active-wrap">
						<div class="col-sm-2 order-active-title"><span>영업활동 및 진행상태 일자</span></div>
						<div class="col-sm-2 order-active-date">
							<input type="text" data-jquery-date id="orderActiveDate" class="form-control ta-c" title="영업활동 및 진행상태 일자 입력" placeholder="'2015-02-03'형식으로 입력해주세요." data-ng-model="orderCommentVO.activeDate" maxlength="10"/>
						</div>
						<div class="col-sm-2 order-active-title"><span>COMMENT</span></div>
						<div class="col-sm-6 order-active-comment">
							<input type="text" class="form-control" id="orderComment" title="영업활동 및 진행상태 내용 입력" data-eden-type="kor" data-ng-model="orderCommentVO.orderComment">
						</div>
					</div>
					<div data-ng-if="view.kind!='insert'" class="mt-5">
						<table class="table table-bordered table-striped no-footer">
							<colgroup>
								<col style="width: 15%;">
								<col style="width: 70%;">
								<col style="width: 15%;">
							</colgroup>
							<thead>
							<tr>
								<th>영업활동일</th>
								<th>내용</th>
								<th>생성날짜</th>
							</tr>
							</thead>
							<tbody>
							<tr data-ng-repeat="commentInfo in orderCommentVO.commentList">
								<td>{{commentInfo.ACTIVE_DT | edtDate}}</td>
								<td class="ta-l">{{commentInfo.COMMENT}}</td>
								<td>{{commentInfo.UPDATE_DT}}</td>
							</tr>
							<tr data-ng-if="orderCommentVO.commentList.length==0">
								<td colspan="3"><span class="tbl-message">등록된 내역이 없습니다.</span></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ 영업활동 및 진행상태 END -->

	<div class="row" style="margin-top: 10px;">
		<div class="content-area-container col-xs-12 btn-group1">
			<button data-ng-if="view.kind=='insert'" type="button" class="btn btn-primary" title="사업등록" data-ng-click="view.doInsert()">등록</button>
			<button data-ng-if="view.kind!='insert' && !view.disabled.sales" type="button" class="btn btn-primary" title="사업수정" data-ng-click="view.doUpdate()">수정</button>
			<button data-ng-if="view.disabled.sales" type="button" class="btn btn-primary" title="확인" data-ng-click="view.doConfirm()">확인</button>
			<button data-ng-if="!view.disabled.sales" type="button" class="btn btn-danger" title="취소" data-ng-click="view.doCancel()">취소</button>
		</div>
	</div>

	<!-- HISTORY START -->
	<div data-ng-if="view.kind=='detail'" class="row mt-40">
		<div class="content-area-container col-xs-12">
			<div class="box">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-pencil-square-o fa-2x"></i>
						<span>HISTORY</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
					</div>
				</div>
				<div class="box-content">
					<table id="" class="table table-bordered table-striped no-footer">
						<colgroup>
							<col style="width: 15%;">
							<col style="width: 10%;">
							<col style="width: 15%;">
							<col style="width: 30%;">
							<col style="width: 30%;">
						</colgroup>
						<thead>
						<tr>
							<th>변경일</th>
							<th>변경자</th>
							<th>항목</th>
							<th>변경전</th>
							<th>변경후</th>
						</tr>
						</thead>
						<tbody data-ng-if="historyVO.historyList.length > 0">
						<tr data-ng-repeat="historyInfo in historyVO.historyList">
							<td>{{historyInfo.CREATE_DT}}</td>
							<td>{{historyInfo.EMP_NAME}}</td>
							<td>{{historyInfo.CHANGE_ITEM_NAME}}</td>
							<td class="ta-l">{{historyInfo.BEFORE_VALUE}}</td>
							<td class="ta-l">{{historyInfo.AFTER_VALUE}}</td>
						</tr>
						</tbody>
						<tbody data-ng-if="historyVO.historyList.length == 0">
						<tr>
							<td colspan="5"><span class="tbl-message">History 내역이 없습니다.</span></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--/ HISTORY END -->
</div>
